In [1]:
import tabula

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = tabula.read_pdf('ccc_eastbay_ft-salaries_2020-21.pdf', pages='all')

In [5]:
df

[  Unnamed: 0         Salary ($) Unnamed: 1            Salary ($).1 Unnamed: 2
 0   District  MA no experience,       Rank  MA 5 years experience,       Rank
 1        NaN             Step 1        NaN                  Step 6        NaN,
   Unnamed: 0         Salary ($) Unnamed: 1            Salary ($).1 Unnamed: 2
 0   District  MA no experience,       Rank  MA 5 years experience,       Rank
 1        NaN             Step 1        NaN                  Step 6        NaN]

In [6]:
tabula.convert_into("ccc_eastbay_ft-salaries_2020-21.pdf", "output.csv", output_format="csv", pages='all')

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('max_seq_item', None)

In [8]:
from PyPDF2 import PdfReader

In [9]:
#after the first step of importing, define the pages. You need to define one page!
#and do this for each variable! (e.g., p1, p2, p3). NEVERMIND, I USED A FOR LOOP.
#page20p1 = reader20.pages[0]

In [10]:
#extract the text from the pages
#text20p1 = page20p1.extract_text()

#print(page20p1.extract_text())

In [11]:
#Change the number 5 times each time
reader21 = PdfReader('ccc_eastbay_ft-salaries_2021-22.pdf')
for page21 in reader21.pages:
    print(page21.extract_text())

 District Rank Rank
Allan Hancock Joint 61,619 49 72,832 54
Antelope Valley 59,562 57 72,923 53
Barstow 59,268 58 71,760 58
Butte-Glenn 63,566 39 79,190 32
Cabrillo 62,138 47 75,995 40
Cerritos 70,084 20 87,142 12
Chabot-Las Positas 67,769 24 83,940 19
Chaffey 71,496 16 79,822 27
Citrus 65,954 27 75,679 42
Coast 65,141 31 79,490 30
Compton 62,880 44 70,289 61
Contra Costa 65,088 32 73,236 52
Copper Mountain 53,239 70 65,556 69
Desert 72,125 15 88,811 10
El Camino 73,328 11 88,318 11
Feather River 62,377 45 77,531 35
Foothill-De Anza 63,728 38 79,918 26
Gavilan Joint 64,109 35 77,013 38
Glendale 68,916 22 82,852 22
Grossmont-Cuyamaca163,119 41 71,763 57
Hartnell 60,546 53 75,591 43
Imperial 65,892 29 76,390 39
Kern 79,596 3 90,056 6
Lake Tahoe 55,966 64 67,762 66
Lassen 63,748 37 80,577 24
Long Beach 72,539 12 86,110 13
Los Angeles 65,250 30 77,870 34
Los Rios 53,162 71 64,680 70
Marin 72,168 14 83,088 20
Mendocino-Lake 61,442 51 75,125 44
Merced 55,018 67 67,511 67
MiraCosta 80,912 2 102,114 1
Monterey Peninsula 61,792 48 75,049 45
Mt. San Antonio 71,441 18 85,699 16
Mt. San Jacinto 60,088 55 69,658 62
Napa Valley 54,769 68 71,243 59
North Orange County 76,421 9 86,059 14
Ohlone 74,649 10 89,774 8
Palo Verde 64,240 34 74,473 46
Palomar 69,096 21 84,184 18
Pasadena Area 78,009 7 78,009 33
Peralta 44,229 72 57,818 72
Rancho Santiago 70,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1)  and Masters Degree +5
Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
FULL-TIME FACULTY SALARY COMPARISONS 2021-22  •  AUG  17, 2022 3 CFT – A UNION OF EDUCATORS AND CLASSIFIED PROFESSIONALS
 District Rank RankFull-Time Faculty at Masters Degree (Step 1)  and Masters Degree +5
Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Redwoods 56,817 63 68,488 64
Rio Hondo 66,171 26 82,950 21
Riverside 72,351 13 89,630 9
San Bernardino 68,843 23 80,974 23
San Diego 60,329 54 69,093 63
San Francisco 65,900 28 79,250 31
San Joaquin Delta 63,372 40 79,714 29
San Jose/Evergreen 81,767 1 97,300 3
San Luis Obispo County 59,665 56 73,793 50
San Mateo County 78,372 5 97,380 2
Santa Barbara 63,071 42 74,142 48
Santa Clarita 67,368 25 79,800 28
Santa Monica 59,133 60 71,799 56
Sequoias 71,484 17 84,584 17
Shasta-Tehama-Trinity Joint 59,203 59 73,948 49
Sierra Joint 56,994 62 72,740 55
Siskiyou Joint 55,268 66 64,383 71
Solano 57,904 61 70,449 60
Sonoma County 78,113 6 90,005 7
South Orange County 78,612 4 92,402 4
Southwestern 63,776 36 77,174 36
State Center 64,849 33 80,513 25
Ventura County 53,766 69 67,206 68
Victor Valley 55,714 65 68,063 65
West Hills 62,203 46 73,703 51
West Kern 61,162 52 77,074 37
West Valley-Mission 77,622 8 92,192 5
Yosemite 62,910 43 75,704 41
Yuba 61,595 50 74,445 47
• Average (Mean) 65,160 78,300
• Highest 81,767 102,114
• 3rd quartile 70,874 84,001
• Median 63,762 77,124
• 1st quartile 60,269 72,809
• Lowest 44,229 57,818
1 The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from step 6. Per
Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.
FULL-TIME FACULTY SALARY COMPARISONS 2021-22  •  AUG  17, 2022 4 CFT – A UNION OF EDUCATORS AND CLASSIFIED PROFESSIONALS

In [12]:
reader20 = PdfReader('ccc_eastbay_ft-salaries_2020-21.pdf')
for page20 in reader20.pages:
    print(page20.extract_text())

District Rank Rank
Allan Hancock Joint 60,411 42 71,404 49
Antelope Valley 59,562 48 72,923 43
Barstow 59,268 50 71,760 48
Butte 58,628 53 73,038 42
Cabrillo 59,000 51 72,134 46
Cerritos 70,084 12 87,142 7
Chabot-Las Positas 66,440 22 82,294 16
Chaffey 68,700 17 76,700 27
Citrus 64,661 27 74,195 36
Coast 61,997 34 75,654 32
Compton 60,431 41 67,551 61
Contra Costa 65,088 26 73,236 41
Copper Mountain 52,068 69 64,113 68
Desert 68,644 18 84,525 12
El Camino 68,403 19 82,386 15
Feather River 58,490 55 72,699 45
Foothill-DeAnza 63,728 30 79,918 21
Gavilan 64,109 29 77,013 26
Glendale 65,634 25 78,906 23
Grossmont-Cuyamaca161,852 35 70,322 54
Hartnell 59,947 46 74,843 33
Imperial 59,902 47 69,445 56
Kern 77,278 4 87,433 6
Lake Tahoe 54,869 65 66,433 66
Lassen 60,672 39 76,686 28
Long Beach 71,467 9 84,838 11
Los Angeles 62,090 33 74,100 38
Los Rios 51,229 71 62,328 71
Marin 67,800 21 78,720 24
Mendocino-Lake 60,237 44 73,652 40
Merced 55,018 64 67,511 62
Mira Costa 78,555 1 99,140 1
Monterey Peninsula 56,299 59 68,377 59
Mt. San Antonio 69,827 13 83,764 13
Mt. San Jacinto 57,776 57 66,979 65
Napa Valley 53,174 67 69,168 58
North Orange County 70,830 11 80,003 20
Ohlone 71,046 10 85,441 8
Palo Verde 60,393 43 70,013 55
Palomar 65,762 24 80,122 19
Pasadena Area 74,245 6 74,245 35
Peralta 42,122 72 55,065 72Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Full-Time Faculty Salary Comparisons 2020-21         3       CFT – A Union of Educators and Classified Professionals • August 30, 2021
District Rank RankMasters Degree (Step 1)  and Masters +5 Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Rancho Santiago 67,967 20 82,537 14
Redwoods 51,271 70 62,379 70
Rio Hondo 62,384 32 78,203 25
Riverside 68,860 14 85,305 9
San Bernardino 68,843 15 80,974 18
San Diego 58,838 52 67,385 63
San Francisco 65,900 23 79,250 22
San Joaquin Delta 60,783 38 76,457 30
San Jose/Evergreen 74,878 5 89,103 4
San Luis Obispo County 57,057 58 70,568 53
San Mateo County 77,964 3 96,876 2
Santa Barbara 63,071 31 74,142 37
Santa Clarita 64,116 28 75,948 31
Santa Monica 58,259 56 70,738 51
Sequoias 68,735 16 81,331 17
Shasta-Tehama-Trinity Joint 55,590 61 69,435 57
Sierra Joint 55,334 62 70,622 52
Siskiyou Joint 54,451 66 63,431 69
Solano County 55,109 63 67,048 64
Sonoma County 73,372 8 85,172 10
South Orange County 78,028 2 91,717 3
Southwestern 60,127 45 72,758 44
State Center 61,720 36 76,628 29
Ventura County 52,711 68 65,888 67
Victor Valley 55,714 60 68,063 60
West Hills 60,665 40 71,881 47
West Kern 59,340 49 74,778 34
West Valley-Mission 73,926 7 87,802 5
Yosemite 61,366 37 73,846 39
Yuba 58,623 54 70,852 50
• Average (Mean) 62,816 75,519
• Highest 78,555 99,140
• 3rd quartile 68,463 80,335
• Median 61,543 74,169
• 1st quartile 58,590 70,245
• Lowest 42,122 55,065
1 The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from
step 6. Per Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.
Full-Time Faculty Salary Comparisons 2020-21         4       CFT – A Union of Educators and Classified Professionals • August 30, 2021

In [13]:
reader19 = PdfReader('ccc_eastbay_ft-salaries_2019-20.pdf')
print(len(reader19.pages))
page19p1 = reader19.pages[1]
print(page19p1.extract_text())

2
Full-Time Faculty Salary Comparisons 2019-20   4   CALIFORNIA FEDERATION OF TEACHERS  • May 2021 DistrictSalary ($)MA  no experience, Step 1RankSalary ($)MA 5 years experience, Step 6RankPeralta42,1227255,06572Rancho Santiago65,3532379,36220Redwoods51,2717062,37968Rio Hondo61,7663477,42922Riverside68,8601185,3057San Bernardino68,8431280,97415San Diego58,8384767,38561San Francisco63,7002977,05023San Joaquin Delta59,0134574,23033San Jose/Evergreen74,878489,1033San Luis Obispo County57,0575570,56850San Mateo County71,328788,6204Santa Barbara63,0713174,14235Santa Clarita64,1162675,94829Santa Monica55,9985867,99359Sequoias67,3871879,73619Shasta-Tehama-Trinity Joint55,5906069,43552Sierra Joint55,3346170,62249Siskiyou Joint52,8656761,58570Solano County53,6996565,33366Sonoma County72,924684,8108South Orange County75,814389,1152Southwestern60,1273972,75841State Center61,2613576,05828Ventura County52,7116865,88864Victor Valley55,7145968,06358West Hills60,6653871,88145West Kern57,9945373,08339West Valley-Mission70,406883,62110Yosemite61,1253673,55637Yuba56,7725668,61555• Average (Mean)61,92374,466• Highest77,27896,958• 3rd quartile67,19979,781• Median60,89973,828• 1st quartile57,59768,990• Lowest42,12255,065

In [14]:
reader18 = PdfReader('ccc_eastbay_ft-salaries_2018-19.pdf')
for page18 in reader18.pages:
    print(page18.extract_text())

Full-Time Faculty Salary Comparisons 2018-19   3   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)
MA  no experience,
Step 1RankSalary ($)
MA 5 years
experience, Step 6Rank
Allan Hancock Joint 58,294 39 68,900 46
Antelope Valley 56,126 52 68,717 48
Barstow 57,397 44 69,495 44
Butte 56,777 48 70,732 39
Cabrillo 57,499 43 70,299 40
Cerritos 67,871 10 84,391 5
Chabot-Las Positas 62,035 27 76,838 17
Chaffey 66,000 16 74,000 28
Citrus 63,393 22 72,740 32
Coast 59,463 36 72,562 33
Compton 59,503 34 66,513 58
Contra Costa 59,616 33 67,716 54
Copper Mountain 52,068 68 64,113 66
Desert 66,477 14 81,857 9
El Camino 68,403 8 82,386 8
Feather River 55,949 56 69,541 43
Foothill-DeAnza 60,121 32 75,394 22
Gavilan 62,394 25 74,952 23
Glendale 64,033 20 76,982 16
Grossmont-Cuyamaca 52,817 66 60,050 70
Hartnell 55,973 55 69,881 41
Imperial 56,873 47 65,934 62
Kern 73,767 2 83,460 6
Lake Tahoe 55,079 57 66,688 57
Lassen 58,757 38 74,265 26
Long Beach 68,284 9 81,060 11
Los A
ngeles 60,130 31 71,770 36
Los Rios 46,660 71 56,769 71
Marin 65,616 17 76,536 19
Mendocino-Lake 56,513 50 69,098 45
Merced 55,018 58 67,511 55
Mira Costa 76,826 1 96,958 1
Monterey Peninsula 54,659 60 66,385 59
Mt. San Antonio 67,622 11 81,119 10
Mt. San Jacinto 56,094 53 65,028 65
Napa Valley 52,131 67 67,812 53
North Orange County 67,137 12 75,832 21
Ohlone 68,786 7 82,721 7
Palo Verde 57,018 45 66,101 61
Palomar 63,686 21 77,593 14Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Full-Time Faculty Salary Comparisons 2018-19    4   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)
MA  no experience,
Step 1RankSalary ($)
MA 5 years
experience, Step 6Rank
Pasadena Area 72,082 5 72,082 34
Peralta 40,793 72 53,327 72
Rancho Santiago 62,839 24 76,310 20
Redwoods 51,271 69 62,379 67
Rio Hondo 59,242 37 74,265 25
Riverside 64,097 19 79,404 13
San Bernardino 57,964 40 68,843 47
San Diego 57,836 41 66,239 60
San Francisco 61,200 28 74,550 24
San Joaquin Delta 57,017 46 71,720 37
San Jose/Evergreen 73,052 4 86,930 3
San Luis Obispo County 55,016 59 68,044 50
San Mateo County 71,328 6 88,620 2
Santa Barbara 63,071 23 74,142 27
Santa Clarita 62,160 26 73,632 30
Santa Monica 55,998 54 67,993 51
Sequoias 64,795 18 76,669 18
Shasta-Tehama-Trinity Joint 53,710 62 67,087 56
Sierra Joint 53,206 64 67,905 52
Siskiyou Joint 52,865 65 61,585 68
Solano County 53,699 63 65,333 64
Sonoma County 66,407 15 77,032 15
South Orange County 73,714 3 86,646 4
Southwestern 57,670 42 69,785 42
State Center 59,477 35 73,843 29
Ventura County 48,751 70 60,939 69
Victor Valley 53,955 61 65,914 63
West Hills 60,665 30 71,881 35
West Kern 56,163 51 70,775 38
West Valley-Mission 67,053 13 79,639 12
Yosemite 61,125 29 73,556 31
Yuba 56,772 49 68,615 49
•A
verage (Mean) 60,109 72,311
•H
ighest 76,826 96,958
•3r
d quartile 64,272 76,569
•M
edian 59,353 71,745
•1s
t quartile 55,992 67,
665
•Low
est 40,793 53,327

In [15]:
reader17 = PdfReader('ccc_eastbay_ft-salaries_2017-18.pdf')
for page17 in reader17.pages:
    print(page17.extract_text())

Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with
no experience, Step
1RankSalary ($):  MA 5
years experience
Step 6Rank
Allan Hancock Joint 56,628 39 66,506 52
Antelope Valley 56,126 43 68,717 40
Barstow 54,324 52 65,774 56
Butte 54,073 54 67,364 45
Cabrillo 56,151 42 68,651 41
Cerritos 64,818 13 80,595 4
Chabot-Las Positas 62,035 16 76,838 13
Chaffey 59,581 25 72,833 22
Citrus 61,547 19 70,621 29
Coast 57,335 37 69,966 33
Compton 59,503 28 66,513 51
Contra Costa 59,616 24 67,716 44
Copper Mountain 50,307 67 61,945 64
Desert 64,723 14 79,697 10
El Camino 66,598 11 80,212 7
Feather River 54,041 55 67,169 46
Foothill-DeAnza 60,121 23 75,394 18
Gavilan 61,170 21 73,482 21
Glendale 61,868 18 74,379 19
Grossmont-Cuyamaca 51,279 65 58,301 71
Hartnell 55,146 46 68,848 38
Imperial 52,802 60 61,214 66
Kern 71,210 3 80,568 5
Lake Tahoe 54,615 51 66,126 54
Lassen 56,328 41 71,195 28
Long Beach 67,275 7 79,862 9
Los Angeles 58, 550 33 69,870 34
Los Rios 49,505 70 60,231 69
Marin 59,064 30 69,984 31
Mendocino-Lake 56,513 40 69,098 36
Merced 50,868 66 62,418 63
Mira Costa 73,482 1 92,737 1
Monterey Peninsula 54,118 53 65,728 57
Mt. San Antonio 65,837 12 78,978 12
Mt. San Jacinto 53,936 56 62,527 62
Napa Valley 52,131 63 67,812 43
North Orange County 67,137 9 75,832 15
Ohlone 66,970 10 80,535 6
Palo Verde 54,661 50 63,368 60
Palomar 62,005 17 75,545 171. Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with
no experience, Step
1RankSalary ($):  MA 5
years experience
Step 6Rank
Pasadena Area 68,804 5 68,804 39
Peralta 41,263 72 53,941 72
Rancho Santiago 59,559 26 72,327 23
Redwoods 50,266 68 61,156 67
Rio Hondo 57,679 35 72,306 24
Riverside 61,182 20 75,793 16
San Bernardino 52,447 61 63,182 61
San Diego 57,549 36 65,909 55
San Francisco 58,499 34 71,849 26
San Joaquin Delta 57,017 38 71,720 27
San Jose/Evergreen 67,236 8 80,009 8
San Luis Obispo County 52,056 64 65,084 58
San Mateo County 68,568 6 85,200 2
Santa Barbara 58,944 32 69,291 35
Santa Clarita 59,556 27 70,548 30
Santa Monica 54,900 47 66,660 49
Sequoias 60,840 22 71,990 25
Shasta-Tehama-Trinity Joint 53,710 57 67,087 47
Sierra Joint 53,206 58 67,905 42
Siskiyou Joint 52,865 59 61,585 65
Solano County 49,966 69 59,957 70
Sonoma County 68,869 4 79,024 11
South Orange County 71,768 2 84,359 3
Southwestern 55,178 45 66,770 48
State Center 59,477 29 73,843 20
Ventura County 48,751 71 60,939 68
Victor Valley 52,383 62 63,994 59
West Hills 59,064 30 69,984 31
West Kern 54,682 49 68,908 37
West Valley-Mission 63,860 15 75,847 14
Yosemite 55,384 44 66,648 50
Yuba 54,727 48 66,144 53
• Average (Mean) 58,254 70,193
• Highest 73,482 92,737
• 3rd quartile 61,627 74,633
• Median 57,442 69,003
•
1st quartile 54,
065 66,072
• Lowest 41,263 53,941

In [16]:
readerall = PdfReader('ccc_eastbay_mergedsalaries.pdf')
for pageall in readerall.pages:
    salaries_all = pageall.extract_text()
    print(salaries_all)

Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with
no experience, Step
1RankSalary ($):  MA 5
years experience
Step 6Rank
Allan Hancock Joint 56,628 39 66,506 52
Antelope Valley 56,126 43 68,717 40
Barstow 54,324 52 65,774 56
Butte 54,073 54 67,364 45
Cabrillo 56,151 42 68,651 41
Cerritos 64,818 13 80,595 4
Chabot-Las Positas 62,035 16 76,838 13
Chaffey 59,581 25 72,833 22
Citrus 61,547 19 70,621 29
Coast 57,335 37 69,966 33
Compton 59,503 28 66,513 51
Contra Costa 59,616 24 67,716 44
Copper Mountain 50,307 67 61,945 64
Desert 64,723 14 79,697 10
El Camino 66,598 11 80,212 7
Feather River 54,041 55 67,169 46
Foothill-DeAnza 60,121 23 75,394 18
Gavilan 61,170 21 73,482 21
Glendale 61,868 18 74,379 19
Grossmont-Cuyamaca 51,279 65 58,301 71
Hartnell 55,146 46 68,848 38
Imperial 52,802 60 61,214 66
Kern 71,210 3 80,568 5
Lake Tahoe 54,615 51 66,126 54
Lassen 56,328 41 71,195 28
Long Beach 67,275 7 79,862 9
Los Angeles 58, 550 33 69,870 34
Los Rios 49,505 70 60,231 69
Marin 59,064 30 69,984 31
Mendocino-Lake 56,513 40 69,098 36
Merced 50,868 66 62,418 63
Mira Costa 73,482 1 92,737 1
Monterey Peninsula 54,118 53 65,728 57
Mt. San Antonio 65,837 12 78,978 12
Mt. San Jacinto 53,936 56 62,527 62
Napa Valley 52,131 63 67,812 43
North Orange County 67,137 9 75,832 15
Ohlone 66,970 10 80,535 6
Palo Verde 54,661 50 63,368 60
Palomar 62,005 17 75,545 171. Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with
no experience, Step
1RankSalary ($):  MA 5
years experience
Step 6Rank
Pasadena Area 68,804 5 68,804 39
Peralta 41,263 72 53,941 72
Rancho Santiago 59,559 26 72,327 23
Redwoods 50,266 68 61,156 67
Rio Hondo 57,679 35 72,306 24
Riverside 61,182 20 75,793 16
San Bernardino 52,447 61 63,182 61
San Diego 57,549 36 65,909 55
San Francisco 58,499 34 71,849 26
San Joaquin Delta 57,017 38 71,720 27
San Jose/Evergreen 67,236 8 80,009 8
San Luis Obispo County 52,056 64 65,084 58
San Mateo County 68,568 6 85,200 2
Santa Barbara 58,944 32 69,291 35
Santa Clarita 59,556 27 70,548 30
Santa Monica 54,900 47 66,660 49
Sequoias 60,840 22 71,990 25
Shasta-Tehama-Trinity Joint 53,710 57 67,087 47
Sierra Joint 53,206 58 67,905 42
Siskiyou Joint 52,865 59 61,585 65
Solano County 49,966 69 59,957 70
Sonoma County 68,869 4 79,024 11
South Orange County 71,768 2 84,359 3
Southwestern 55,178 45 66,770 48
State Center 59,477 29 73,843 20
Ventura County 48,751 71 60,939 68
Victor Valley 52,383 62 63,994 59
West Hills 59,064 30 69,984 31
West Kern 54,682 49 68,908 37
West Valley-Mission 63,860 15 75,847 14
Yosemite 55,384 44 66,648 50
Yuba 54,727 48 66,144 53
• Average (Mean) 58,254 70,193
• Highest 73,482 92,737
• 3rd quartile 61,627 74,633
• Median 57,442 69,003
•
1st quartile 54,
065 66,072
• Lowest 41,263 53,941
Full-Time Faculty Salary Comparisons 2018-19   3   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)
MA  no experience,
Step 1RankSalary ($)
MA 5 years
experience, Step 6Rank
Allan Hancock Joint 58,294 39 68,900 46
Antelope Valley 56,126 52 68,717 48
Barstow 57,397 44 69,495 44
Butte 56,777 48 70,732 39
Cabrillo 57,499 43 70,299 40
Cerritos 67,871 10 84,391 5
Chabot-Las Positas 62,035 27 76,838 17
Chaffey 66,000 16 74,000 28
Citrus 63,393 22 72,740 32
Coast 59,463 36 72,562 33
Compton 59,503 34 66,513 58
Contra Costa 59,616 33 67,716 54
Copper Mountain 52,068 68 64,113 66
Desert 66,477 14 81,857 9
El Camino 68,403 8 82,386 8
Feather River 55,949 56 69,541 43
Foothill-DeAnza 60,121 32 75,394 22
Gavilan 62,394 25 74,952 23
Glendale 64,033 20 76,982 16
Grossmont-Cuyamaca 52,817 66 60,050 70
Hartnell 55,973 55 69,881 41
Imperial 56,873 47 65,934 62
Kern 73,767 2 83,460 6
Lake Tahoe 55,079 57 66,688 57
Lassen 58,757 38 74,265 26
Long Beach 68,284 9 81,060 11
Los A
ngeles 60,130 31 71,770 36
Los Rios 46,660 71 56,769 71
Marin 65,616 17 76,536 19
Mendocino-Lake 56,513 50 69,098 45
Merced 55,018 58 67,511 55
Mira Costa 76,826 1 96,958 1
Monterey Peninsula 54,659 60 66,385 59
Mt. San Antonio 67,622 11 81,119 10
Mt. San Jacinto 56,094 53 65,028 65
Napa Valley 52,131 67 67,812 53
North Orange County 67,137 12 75,832 21
Ohlone 68,786 7 82,721 7
Palo Verde 57,018 45 66,101 61
Palomar 63,686 21 77,593 14Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Full-Time Faculty Salary Comparisons 2018-19    4   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)
MA  no experience,
Step 1RankSalary ($)
MA 5 years
experience, Step 6Rank
Pasadena Area 72,082 5 72,082 34
Peralta 40,793 72 53,327 72
Rancho Santiago 62,839 24 76,310 20
Redwoods 51,271 69 62,379 67
Rio Hondo 59,242 37 74,265 25
Riverside 64,097 19 79,404 13
San Bernardino 57,964 40 68,843 47
San Diego 57,836 41 66,239 60
San Francisco 61,200 28 74,550 24
San Joaquin Delta 57,017 46 71,720 37
San Jose/Evergreen 73,052 4 86,930 3
San Luis Obispo County 55,016 59 68,044 50
San Mateo County 71,328 6 88,620 2
Santa Barbara 63,071 23 74,142 27
Santa Clarita 62,160 26 73,632 30
Santa Monica 55,998 54 67,993 51
Sequoias 64,795 18 76,669 18
Shasta-Tehama-Trinity Joint 53,710 62 67,087 56
Sierra Joint 53,206 64 67,905 52
Siskiyou Joint 52,865 65 61,585 68
Solano County 53,699 63 65,333 64
Sonoma County 66,407 15 77,032 15
South Orange County 73,714 3 86,646 4
Southwestern 57,670 42 69,785 42
State Center 59,477 35 73,843 29
Ventura County 48,751 70 60,939 69
Victor Valley 53,955 61 65,914 63
West Hills 60,665 30 71,881 35
West Kern 56,163 51 70,775 38
West Valley-Mission 67,053 13 79,639 12
Yosemite 61,125 29 73,556 31
Yuba 56,772 49 68,615 49
•A
verage (Mean) 60,109 72,311
•H
ighest 76,826 96,958
•3r
d quartile 64,272 76,569
•M
edian 59,353 71,745
•1s
t quartile 55,992 67,
665
•Low
est 40,793 53,327
Full-Time Faculty Salary Comparisons 2019-20    3   CALIFORNIA FEDERATION OF TEACHERS  • May 2021 DistrictSalary ($)MA  no experience, Step 1RankSalary ($)MA 5 years experience, Step 6RankAllan Hancock Joint59,4604270,28051Antelope Valley58,3945271,49347Barstow59,2684371,76046Butte58,6285073,03840Cabrillo59,0004672,13444Cerritos70,084987,1426Chabot-Las Positas65,1372480,68016Chaffey68,7001476,70025Citrus64,6612574,19534Coast61,9973375,65431Compton59,5034166,51363Contra Costa63,1923071,10048Copper Mountain52,0686964,11367Desert68,6441584,5259El Camino68,4031682,38613Feather River58,4905172,69942Foothill-DeAnza63,7282879,91818Gavilan64,1092777,01324Glendale65,6342178,90621Grossmont-Cuyamaca54,4026361,85269Hartnell58,7724873,37538Imperial58,7274968,08357Kern77,278187,4335Lake Tahoe54,0586465,45165Lassen60,6723776,68626Long Beach69,5471082,55912Los Angeles62,0903274,10036Los Rios50,2627161,15271Marin65,6162276,53627Mendocino-Lake59,0564472,20843Merced55,0186267,51160Mira Costa76,826296,9581Monterey Peninsula56,2995768,37756Mt. San Antonio67,6221781,11914Mt. San Jacinto57,7765466,97962Napa Valley53,1746669,16853North Orange County67,1371975,83230Ohlone68,7861382,72111Palo Verde59,6184069,11554Palomar65,7622080,12217Pasadena Area74,245574,24532Masters Degree (Step 1) and Masters +5 Years (Step 6)
Full-Time Faculty Salary Comparisons 2019-20   4   CALIFORNIA FEDERATION OF TEACHERS  • May 2021 DistrictSalary ($)MA  no experience, Step 1RankSalary ($)MA 5 years experience, Step 6RankPeralta42,1227255,06572Rancho Santiago65,3532379,36220Redwoods51,2717062,37968Rio Hondo61,7663477,42922Riverside68,8601185,3057San Bernardino68,8431280,97415San Diego58,8384767,38561San Francisco63,7002977,05023San Joaquin Delta59,0134574,23033San Jose/Evergreen74,878489,1033San Luis Obispo County57,0575570,56850San Mateo County71,328788,6204Santa Barbara63,0713174,14235Santa Clarita64,1162675,94829Santa Monica55,9985867,99359Sequoias67,3871879,73619Shasta-Tehama-Trinity Joint55,5906069,43552Sierra Joint55,3346170,62249Siskiyou Joint52,8656761,58570Solano County53,6996565,33366Sonoma County72,924684,8108South Orange County75,814389,1152Southwestern60,1273972,75841State Center61,2613576,05828Ventura County52,7116865,88864Victor Valley55,7145968,06358West Hills60,6653871,88145West Kern57,9945373,08339West Valley-Mission70,406883,62110Yosemite61,1253673,55637Yuba56,7725668,61555• Average (Mean)61,92374,466• Highest77,27896,958• 3rd quartile67,19979,781• Median60,89973,828• 1st quartile57,59768,990• Lowest42,12255,065
District Rank Rank
Allan Hancock Joint 60,411 42 71,404 49
Antelope Valley 59,562 48 72,923 43
Barstow 59,268 50 71,760 48
Butte 58,628 53 73,038 42
Cabrillo 59,000 51 72,134 46
Cerritos 70,084 12 87,142 7
Chabot-Las Positas 66,440 22 82,294 16
Chaffey 68,700 17 76,700 27
Citrus 64,661 27 74,195 36
Coast 61,997 34 75,654 32
Compton 60,431 41 67,551 61
Contra Costa 65,088 26 73,236 41
Copper Mountain 52,068 69 64,113 68
Desert 68,644 18 84,525 12
El Camino 68,403 19 82,386 15
Feather River 58,490 55 72,699 45
Foothill-DeAnza 63,728 30 79,918 21
Gavilan 64,109 29 77,013 26
Glendale 65,634 25 78,906 23
Grossmont-Cuyamaca161,852 35 70,322 54
Hartnell 59,947 46 74,843 33
Imperial 59,902 47 69,445 56
Kern 77,278 4 87,433 6
Lake Tahoe 54,869 65 66,433 66
Lassen 60,672 39 76,686 28
Long Beach 71,467 9 84,838 11
Los Angeles 62,090 33 74,100 38
Los Rios 51,229 71 62,328 71
Marin 67,800 21 78,720 24
Mendocino-Lake 60,237 44 73,652 40
Merced 55,018 64 67,511 62
Mira Costa 78,555 1 99,140 1
Monterey Peninsula 56,299 59 68,377 59
Mt. San Antonio 69,827 13 83,764 13
Mt. San Jacinto 57,776 57 66,979 65
Napa Valley 53,174 67 69,168 58
North Orange County 70,830 11 80,003 20
Ohlone 71,046 10 85,441 8
Palo Verde 60,393 43 70,013 55
Palomar 65,762 24 80,122 19
Pasadena Area 74,245 6 74,245 35
Peralta 42,122 72 55,065 72Masters Degree (Step 1)  and Masters +5 Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Full-Time Faculty Salary Comparisons 2020-21         3       CFT – A Union of Educators and Classified Professionals • August 30, 2021
District Rank RankMasters Degree (Step 1)  and Masters +5 Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Rancho Santiago 67,967 20 82,537 14
Redwoods 51,271 70 62,379 70
Rio Hondo 62,384 32 78,203 25
Riverside 68,860 14 85,305 9
San Bernardino 68,843 15 80,974 18
San Diego 58,838 52 67,385 63
San Francisco 65,900 23 79,250 22
San Joaquin Delta 60,783 38 76,457 30
San Jose/Evergreen 74,878 5 89,103 4
San Luis Obispo County 57,057 58 70,568 53
San Mateo County 77,964 3 96,876 2
Santa Barbara 63,071 31 74,142 37
Santa Clarita 64,116 28 75,948 31
Santa Monica 58,259 56 70,738 51
Sequoias 68,735 16 81,331 17
Shasta-Tehama-Trinity Joint 55,590 61 69,435 57
Sierra Joint 55,334 62 70,622 52
Siskiyou Joint 54,451 66 63,431 69
Solano County 55,109 63 67,048 64
Sonoma County 73,372 8 85,172 10
South Orange County 78,028 2 91,717 3
Southwestern 60,127 45 72,758 44
State Center 61,720 36 76,628 29
Ventura County 52,711 68 65,888 67
Victor Valley 55,714 60 68,063 60
West Hills 60,665 40 71,881 47
West Kern 59,340 49 74,778 34
West Valley-Mission 73,926 7 87,802 5
Yosemite 61,366 37 73,846 39
Yuba 58,623 54 70,852 50
• Average (Mean) 62,816 75,519
• Highest 78,555 99,140
• 3rd quartile 68,463 80,335
• Median 61,543 74,169
• 1st quartile 58,590 70,245
• Lowest 42,122 55,065
1 The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from
step 6. Per Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.
Full-Time Faculty Salary Comparisons 2020-21         4       CFT – A Union of Educators and Classified Professionals • August 30, 2021
 District Rank Rank
Allan Hancock Joint 61,619 49 72,832 54
Antelope Valley 59,562 57 72,923 53
Barstow 59,268 58 71,760 58
Butte-Glenn 63,566 39 79,190 32
Cabrillo 62,138 47 75,995 40
Cerritos 70,084 20 87,142 12
Chabot-Las Positas 67,769 24 83,940 19
Chaffey 71,496 16 79,822 27
Citrus 65,954 27 75,679 42
Coast 65,141 31 79,490 30
Compton 62,880 44 70,289 61
Contra Costa 65,088 32 73,236 52
Copper Mountain 53,239 70 65,556 69
Desert 72,125 15 88,811 10
El Camino 73,328 11 88,318 11
Feather River 62,377 45 77,531 35
Foothill-De Anza 63,728 38 79,918 26
Gavilan Joint 64,109 35 77,013 38
Glendale 68,916 22 82,852 22
Grossmont-Cuyamaca163,119 41 71,763 57
Hartnell 60,546 53 75,591 43
Imperial 65,892 29 76,390 39
Kern 79,596 3 90,056 6
Lake Tahoe 55,966 64 67,762 66
Lassen 63,748 37 80,577 24
Long Beach 72,539 12 86,110 13
Los Angeles 65,250 30 77,870 34
Los Rios 53,162 71 64,680 70
Marin 72,168 14 83,088 20
Mendocino-Lake 61,442 51 75,125 44
Merced 55,018 67 67,511 67
MiraCosta 80,912 2 102,114 1
Monterey Peninsula 61,792 48 75,049 45
Mt. San Antonio 71,441 18 85,699 16
Mt. San Jacinto 60,088 55 69,658 62
Napa Valley 54,769 68 71,243 59
North Orange County 76,421 9 86,059 14
Ohlone 74,649 10 89,774 8
Palo Verde 64,240 34 74,473 46
Palomar 69,096 21 84,184 18
Pasadena Area 78,009 7 78,009 33
Peralta 44,229 72 57,818 72
Rancho Santiago 70,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1)  and Masters Degree +5
Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
FULL-TIME FACULTY SALARY COMPARISONS 2021-22  •  AUG  17, 2022 3 CFT – A UNION OF EDUCATORS AND CLASSIFIED PROFESSIONALS
 District Rank RankFull-Time Faculty at Masters Degree (Step 1)  and Masters Degree +5
Years (Step 6)
Salary ($)
MA no experience,
Step 1Salary ($)
MA 5 years experience,
Step 6
Redwoods 56,817 63 68,488 64
Rio Hondo 66,171 26 82,950 21
Riverside 72,351 13 89,630 9
San Bernardino 68,843 23 80,974 23
San Diego 60,329 54 69,093 63
San Francisco 65,900 28 79,250 31
San Joaquin Delta 63,372 40 79,714 29
San Jose/Evergreen 81,767 1 97,300 3
San Luis Obispo County 59,665 56 73,793 50
San Mateo County 78,372 5 97,380 2
Santa Barbara 63,071 42 74,142 48
Santa Clarita 67,368 25 79,800 28
Santa Monica 59,133 60 71,799 56
Sequoias 71,484 17 84,584 17
Shasta-Tehama-Trinity Joint 59,203 59 73,948 49
Sierra Joint 56,994 62 72,740 55
Siskiyou Joint 55,268 66 64,383 71
Solano 57,904 61 70,449 60
Sonoma County 78,113 6 90,005 7
South Orange County 78,612 4 92,402 4
Southwestern 63,776 36 77,174 36
State Center 64,849 33 80,513 25
Ventura County 53,766 69 67,206 68
Victor Valley 55,714 65 68,063 65
West Hills 62,203 46 73,703 51
West Kern 61,162 52 77,074 37
West Valley-Mission 77,622 8 92,192 5
Yosemite 62,910 43 75,704 41
Yuba 61,595 50 74,445 47
• Average (Mean) 65,160 78,300
• Highest 81,767 102,114
• 3rd quartile 70,874 84,001
• Median 63,762 77,124
• 1st quartile 60,269 72,809
• Lowest 44,229 57,818
1 The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from step 6. Per
Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.
FULL-TIME FACULTY SALARY COMPARISONS 2021-22  •  AUG  17, 2022 4 CFT – A UNION OF EDUCATORS AND CLASSIFIED PROFESSIONALS

In [17]:
#Work with Fernando starts around here
df21 = pd.read_csv('ccc_eastbay_salaries21_dirtychart - Sheet1.csv')

In [18]:
df21.head()

                        District Rank Rank
0  Allan Hancock Joint 61,619 49 72,832 54
1      Antelope Valley 59,562 57 72,923 53
2              Barstow 59,268 58 71,760 58
3          Butte-Glenn 63,566 39 79,190 32
4             Cabrillo 62,138 47 75,995 40

In [19]:
df21["District Rank Rank"].str.split("(\d)", n=1, expand=True) 
#\ = any digit

,0,1,2
0,Allan Hancock Joint,6,"1,619 49 72,832 54"
1,Antelope Valley,5,"9,562 57 72,923 53"
2,Barstow,5,"9,268 58 71,760 58"
3,Butte-Glenn,6,"3,566 39 79,190 32"
4,Cabrillo,6,"2,138 47 75,995 40"
5,Cerritos,7,"0,084 20 87,142 12"
6,Chabot-Las Positas,6,"7,769 24 83,940 19"
7,Chaffey,7,"1,496 16 79,822 27"
8,Citrus,6,"5,954 27 75,679 42"
9,Coast,6,"5,141 31 79,490 30"
10,Compton,6,"2,880 44 70,289 61"
11,Contra Costa,6,"5,088 32 73,236 52"
12,Copper Mountain,5,"3,239 70 65,556 69"
13,Desert,7,"2,125 15 88,811 10"
14,El Camino,7,"3,328 11 88,318 11"
15,Feather River,6,"2,377 45 77,531 35"
16,Foothill-De Anza,6,"3,728 38 79,918 26"
17,Gavilan Joint,6,"4,109 35 77,013 38"
18,Glendale,6,"8,916 22 82,852 22"
19,Grossmont-Cuyamaca,1,"63,119 41 71,763 57"
20,Hartnell,6,"0,546 53 75,591 43"
21,Imperial,6,"5,892 29 76,390 39"
22,Kern,7,"9,596 3 90,056 6"
23,Lake Tahoe,5,"5,966 64 67,762 66"
24,Lassen,6,"3,748 37 80,577 24"
25,Long Beach,7,"2,539 12 86,110 13"
26,Los Angeles,6,"5,250 30 77,870 34"
27,Los Rios,5,"3,162 71 64,680 70"
28,Marin,7,"2,168 14 83,088 20"
29,Mendocino-Lake,6,"1,442 51 75,125 44"
30,Merced,5,"5,018 67 67,511 67"
31,MiraCosta,8,"0,912 2 102,114 1"
32,Monterey Peninsula,6,"1,792 48 75,049 45"
33,Mt. San Antonio,7,"1,441 18 85,699 16"
34,Mt. San Jacinto,6,"0,088 55 69,658 62"
35,Napa Valley,5,"4,769 68 71,243 59"
36,North Orange County,7,"6,421 9 86,059 14"
37,Ohlone,7,"4,649 10 89,774 8"
38,Palo Verde,6,"4,240 34 74,473 46"
39,Palomar,6,"9,096 21 84,184 18"
40,Pasadena Area,7,"8,009 7 78,009 33"
41,Peralta,4,"4,229 72 57,818 72"
42,Rancho Santiago,7,"0,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1) and Masters Degree +5"
43,Redwoods,5,"6,817 63 68,488 64"
44,Rio Hondo,6,"6,171 26 82,950 21"
45,Riverside,7,"2,351 13 89,630 9"
46,San Bernardino,6,"8,843 23 80,974 23"
47,San Diego,6,"0,329 54 69,093 63"
48,San Francisco,6,"5,900 28 79,250 31"
49,San Joaquin Delta,6,"3,372 40 79,714 29"
50,San Jose/Evergreen,8,"1,767 1 97,300 3"
51,San Luis Obispo County,5,"9,665 56 73,793 50"
52,San Mateo County,7,"8,372 5 97,380 2"
53,Santa Barbara,6,"3,071 42 74,142 48"
54,Santa Clarita,6,"7,368 25 79,800 28"
55,Santa Monica,5,"9,133 60 71,799 56"
56,Sequoias,7,"1,484 17 84,584 17"
57,Shasta-Tehama-Trinity Joint,5,"9,203 59 73,948 49"
58,Sierra Joint,5,"6,994 62 72,740 55"
59,Siskiyou Joint,5,"5,268 66 64,383 71"
60,Solano,5,"7,904 61 70,449 60"
61,Sonoma County,7,"8,113 6 90,005 7"
62,South Orange County,7,"8,612 4 92,402 4"
63,Southwestern,6,"3,776 36 77,174 36"
64,State Center,6,"4,849 33 80,513 25"
65,Ventura County,5,"3,766 69 67,206 68"
66,Victor Valley,5,"5,714 65 68,063 65"
67,West Hills,6,"2,203 46 73,703 51"
68,West Kern,6,"1,162 52 77,074 37"
69,West Valley-Mission,7,"7,622 8 92,192 5"
70,Yosemite,6,"2,910 43 75,704 41"
71,Yuba,6,"1,595 50 74,445 47"
72,• Average (Mean),6,"5,160 78,300"
73,• Highest,8,"1,767 102,114"
74,•,3,"rd quartile 70,874 84,001"
75,• Median,6,"3,762 77,124"
76,•,1,"st quartile 60,269 72,809"
77,• Lowest,4,"4,229 57,818"

In [20]:
df21[["district", "numbers1", "numbers2"]] = df21["District Rank Rank"].str.split("(\d)", n=1, expand=True)
df21["numbers"] = df21["numbers1"] + df21["numbers2"]

In [21]:
df21["district"]

0             Allan Hancock Joint
1                 Antelope Valley
2                         Barstow
3                     Butte-Glenn
4                        Cabrillo
5                        Cerritos
6              Chabot-Las Positas
7                         Chaffey
8                          Citrus
9                           Coast
10                        Compton
11                   Contra Costa
12                Copper Mountain
13                         Desert
14                      El Camino
15                  Feather River
16               Foothill-De Anza
17                  Gavilan Joint
18                       Glendale
19              Grossmont-Cuyamaca
20                       Hartnell
21                       Imperial
22                           Kern
23                     Lake Tahoe
24                         Lassen
25                     Long Beach
26                    Los Angeles
27                       Los Rios
28                          Marin
29                 Mendocino-Lake
30                         Merced
31                      MiraCosta
32             Monterey Peninsula
33                Mt. San Antonio
34                Mt. San Jacinto
35                    Napa Valley
36            North Orange County
37                         Ohlone
38                     Palo Verde
39                        Palomar
40                  Pasadena Area
41                        Peralta
42                Rancho Santiago
43                       Redwoods
44                      Rio Hondo
45                      Riverside
46                 San Bernardino
47                      San Diego
48                  San Francisco
49              San Joaquin Delta
50             San Jose/Evergreen
51         San Luis Obispo County
52               San Mateo County
53                  Santa Barbara
54                  Santa Clarita
55                   Santa Monica
56                       Sequoias
57    Shasta-Tehama-Trinity Joint
58                   Sierra Joint
59                 Siskiyou Joint
60                         Solano
61                  Sonoma County
62            South Orange County
63                   Southwestern
64                   State Center
65                 Ventura County
66                  Victor Valley
67                     West Hills
68                      West Kern
69            West Valley-Mission
70                       Yosemite
71                           Yuba
72               • Average (Mean)
73                      • Highest
74                              •
75                       • Median
76                              •
77                       • Lowest
Name: district, dtype: object

In [22]:
df21['numbers']

0                                                                        61,619 49 72,832 54
1                                                                        59,562 57 72,923 53
2                                                                        59,268 58 71,760 58
3                                                                        63,566 39 79,190 32
4                                                                        62,138 47 75,995 40
5                                                                        70,084 20 87,142 12
6                                                                        67,769 24 83,940 19
7                                                                        71,496 16 79,822 27
8                                                                        65,954 27 75,679 42
9                                                                        65,141 31 79,490 30
10                                                                       62,880 44 70,289 61
11                                                                       65,088 32 73,236 52
12                                                                       53,239 70 65,556 69
13                                                                       72,125 15 88,811 10
14                                                                       73,328 11 88,318 11
15                                                                       62,377 45 77,531 35
16                                                                       63,728 38 79,918 26
17                                                                       64,109 35 77,013 38
18                                                                       68,916 22 82,852 22
19                                                                      163,119 41 71,763 57
20                                                                       60,546 53 75,591 43
21                                                                       65,892 29 76,390 39
22                                                                         79,596 3 90,056 6
23                                                                       55,966 64 67,762 66
24                                                                       63,748 37 80,577 24
25                                                                       72,539 12 86,110 13
26                                                                       65,250 30 77,870 34
27                                                                       53,162 71 64,680 70
28                                                                       72,168 14 83,088 20
29                                                                       61,442 51 75,125 44
30                                                                       55,018 67 67,511 67
31                                                                        80,912 2 102,114 1
32                                                                       61,792 48 75,049 45
33                                                                       71,441 18 85,699 16
34                                                                       60,088 55 69,658 62
35                                                                       54,769 68 71,243 59
36                                                                        76,421 9 86,059 14
37                                                                        74,649 10 89,774 8
38                                                                       64,240 34 74,473 46
39                                                                       69,096 21 84,184 18
40                                                                        78,009 7 78,009 33
41                                                                       44,229 72 57,818 72
42    70,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1)  and Masters Degree +5
43                                                                       56,817 63 68,488 64
44                                                                       66,171 26 82,950 21
45                                                                        72,351 13 89,630 9
46                                                                       68,843 23 80,974 23
47                                                                       60,329 54 69,093 63
48                                                                       65,900 28 79,250 31
49                                                                       63,372 40 79,714 29
50                                                                         81,767 1 97,300 3
51                                                                       59,665 56 73,793 50
52                                                                         78,372 5 97,380 2
53                                                                       63,071 42 74,142 48
54                                                                       67,368 25 79,800 28
55                                                                       59,133 60 71,799 56
56                                                                       71,484 17 84,584 17
57                                                                       59,203 59 73,948 49
58                                                                       56,994 62 72,740 55
59                                                                       55,268 66 64,383 71
60                                                                       57,904 61 70,449 60
61                                                                         78,113 6 90,005 7
62                                                                         78,612 4 92,402 4
63                                                                       63,776 36 77,174 36
64                                                                       64,849 33 80,513 25
65                                                                       53,766 69 67,206 68
66                                                                       55,714 65 68,063 65
67                                                                       62,203 46 73,703 51
68                                                                       61,162 52 77,074 37
69                                                                         77,622 8 92,192 5
70                                                                       62,910 43 75,704 41
71                                                                       61,595 50 74,445 47
72                                                                             65,160 78,300
73                                                                            81,767 102,114
74                                                                3rd quartile 70,874 84,001
75                                                                             63,762 77,124
76                                                                1st quartile 60,269 72,809
77                                                                             44,229 57,818
Name: numbers, dtype: object

In [23]:
df21['numbers'].str.split(" ", expand=True)
#This helps us figure out what was happening

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"61,619",49,"72,832",54,None,None,None,None,None,None,None,None,None,None,None
1,"59,562",57,"72,923",53,None,None,None,None,None,None,None,None,None,None,None
2,"59,268",58,"71,760",58,None,None,None,None,None,None,None,None,None,None,None
3,"63,566",39,"79,190",32,None,None,None,None,None,None,None,None,None,None,None
4,"62,138",47,"75,995",40,None,None,None,None,None,None,None,None,None,None,None
5,"70,084",20,"87,142",12,None,None,None,None,None,None,None,None,None,None,None
6,"67,769",24,"83,940",19,None,None,None,None,None,None,None,None,None,None,None
7,"71,496",16,"79,822",27,None,None,None,None,None,None,None,None,None,None,None
8,"65,954",27,"75,679",42,None,None,None,None,None,None,None,None,None,None,None
9,"65,141",31,"79,490",30,None,None,None,None,None,None,None,None,None,None,None
10,"62,880",44,"70,289",61,None,None,None,None,None,None,None,None,None,None,None
11,"65,088",32,"73,236",52,None,None,None,None,None,None,None,None,None,None,None
12,"53,239",70,"65,556",69,None,None,None,None,None,None,None,None,None,None,None
13,"72,125",15,"88,811",10,None,None,None,None,None,None,None,None,None,None,None
14,"73,328",11,"88,318",11,None,None,None,None,None,None,None,None,None,None,None
15,"62,377",45,"77,531",35,None,None,None,None,None,None,None,None,None,None,None
16,"63,728",38,"79,918",26,None,None,None,None,None,None,None,None,None,None,None
17,"64,109",35,"77,013",38,None,None,None,None,None,None,None,None,None,None,None
18,"68,916",22,"82,852",22,None,None,None,None,None,None,None,None,None,None,None
19,"163,119",41,"71,763",57,None,None,None,None,None,None,None,None,None,None,None
20,"60,546",53,"75,591",43,None,None,None,None,None,None,None,None,None,None,None
21,"65,892",29,"76,390",39,None,None,None,None,None,None,None,None,None,None,None
22,"79,596",3,"90,056",6,None,None,None,None,None,None,None,None,None,None,None
23,"55,966",64,"67,762",66,None,None,None,None,None,None,None,None,None,None,None
24,"63,748",37,"80,577",24,None,None,None,None,None,None,None,None,None,None,None
25,"72,539",12,"86,110",13,None,None,None,None,None,None,None,None,None,None,None
26,"65,250",30,"77,870",34,None,None,None,None,None,None,None,None,None,None,None
27,"53,162",71,"64,680",70,None,None,None,None,None,None,None,None,None,None,None
28,"72,168",14,"83,088",20,None,None,None,None,None,None,None,None,None,None,None
29,"61,442",51,"75,125",44,None,None,None,None,None,None,None,None,None,None,None
30,"55,018",67,"67,511",67,None,None,None,None,None,None,None,None,None,None,None
31,"80,912",2,"102,114",1,None,None,None,None,None,None,None,None,None,None,None
32,"61,792",48,"75,049",45,None,None,None,None,None,None,None,None,None,None,None
33,"71,441",18,"85,699",16,None,None,None,None,None,None,None,None,None,None,None
34,"60,088",55,"69,658",62,None,None,None,None,None,None,None,None,None,None,None
35,"54,769",68,"71,243",59,None,None,None,None,None,None,None,None,None,None,None
36,"76,421",9,"86,059",14,None,None,None,None,None,None,None,None,None,None,None
37,"74,649",10,"89,774",8,None,None,None,None,None,None,None,None,None,None,None
38,"64,240",34,"74,473",46,None,None,None,None,None,None,None,None,None,None,None
39,"69,096",21,"84,184",18,None,None,None,None,None,None,None,None,None,None,None
40,"78,009",7,"78,009",33,None,None,None,None,None,None,None,None,None,None,None
41,"44,229",72,"57,818",72,None,None,None,None,None,None,None,None,None,None,None
42,"70,685",19,"85,838",15Full-Time,Faculty,at,Masters,Degree,(Step,1),,and,Masters,Degree,+5
43,"56,817",63,"68,488",64,None,None,None,None,None,None,None,None,None,None,None
44,"66,171",26,"82,950",21,None,None,None,None,None,None,None,None,None,None,None
45,"72,351",13,"89,630",9,None,None,None,None,None,None,None,None,None,None,None
46,"68,843",23,"80,974",23,None,None,None,None,None,None,None,None,None,None,None
47,"60,329",54,"69,093",63,None,None,None,None,None,None,None,None,None,None,None
48,"65,900",28,"79,250",31,None,None,None,None,None,None,None,None,None,None,None
49,"63,372",40,"79,714",29,None,None,None,None,None,None,None,None,None,None,None
50,"81,767",1,"97,300",3,None,None,None,None,None,None,None,None,None,None,None
51,"59,665",56,"73,793",50,None,None,None,None,None,None,None,None,None,None,None
52,"78,372",5,"97,380",2,None,None,None,None,None,None,None,None,None,None,None
53,"63,071",42,"74,142",48,None,None,None,None,None,None,None,None,None,None,None
54,"67,368",25,"79,800",28,None,None,None,None,None,None,None,None,None,None,None
55,"59,133",60,"71,799",56,None,None,None,None,None,None,None,None,None,None,None
56,"71,484",17,"84,584",17,None,None,None,None,None,None,None,None,None,None,None
57,"59,203",59,"73,948",49,None,None,None,None,None,None,None,None,None,None,None
58,"56,994",62,"72,740",55,None,None,None,None,None,None,None,None,None,None,None
59,"55,268",66,"64,383",71,None,None,None,None,None,None,None,None,None,None,None
60,"57,904",61,"70,449",60,None,None,None,None,None,None,None,None,None,None,None
61,"78,113",6,"90,005",7,None,None,None,None,None,None,None,None,None,None,None
62,"78,612",4,"92,402",4,None,None,None,None,None,None,None,None,None,None,None
63,"63,776",36,"77,174",36,None,None,None,None,None,None,None,None,None,None,None
64,"64,849",33,"80,513",25,None,None,None,None,None,None,None,None,None,None,None
65,"53,766",69,"67,206",68,None,None,None,None,None,None,None,None,None,None,None
66,"55,714",65,"68,063",65,None,None,None,None,None,None,None,None,None,None,None
67,"62,203",46,"73,703",51,None,None,None,None,None,None,None,None,None,None,None
68,"61,162",52,"77,074",37,None,None,None,None,None,None,None,None,None,None,None
69,"77,622",8,"92,192",5,None,None,None,None,None,None,None,None,None,None,None
70,"62,910",43,"75,704",41,None,None,None,None,None,None,None,None,None,None,None
71,"61,595",50,"74,445",47,None,None,None,None,None,None,None,None,None,None,None
72,"65,160","78,300",None,None,None,None,None,None,None,None,None,None,None,None,None
73,"81,767","102,114",None,None,None,None,None,None,None,None,None,None,None,None,None
74,3rd,quartile,"70,874","84,001",None,None,None,None,None,None,None,None,None,None,None
75,"63,762","77,124",None,None,None,None,None,None,None,None,None,None,None,None,None
76,1st,quartile,"60,269","72,809",None,None,None,None,None,None,None,None,None,None,None
77,"44,229","57,818",None,None,None,None,None,None,None,None,None,None,None,None,None

In [24]:
#PDFs have a lot of hidden characters ... spaces, etc.

In [25]:
df21['Salary'] = df21['numbers'].str.split(" ", expand=True)[0]

In [26]:
df21

,District Rank Rank,district,numbers1,numbers2,numbers,Salary
0,"Allan Hancock Joint 61,619 49 72,832 54",Allan Hancock Joint,6,"1,619 49 72,832 54","61,619 49 72,832 54","61,619"
1,"Antelope Valley 59,562 57 72,923 53",Antelope Valley,5,"9,562 57 72,923 53","59,562 57 72,923 53","59,562"
2,"Barstow 59,268 58 71,760 58",Barstow,5,"9,268 58 71,760 58","59,268 58 71,760 58","59,268"
3,"Butte-Glenn 63,566 39 79,190 32",Butte-Glenn,6,"3,566 39 79,190 32","63,566 39 79,190 32","63,566"
4,"Cabrillo 62,138 47 75,995 40",Cabrillo,6,"2,138 47 75,995 40","62,138 47 75,995 40","62,138"
5,"Cerritos 70,084 20 87,142 12",Cerritos,7,"0,084 20 87,142 12","70,084 20 87,142 12","70,084"
6,"Chabot-Las Positas 67,769 24 83,940 19",Chabot-Las Positas,6,"7,769 24 83,940 19","67,769 24 83,940 19","67,769"
7,"Chaffey 71,496 16 79,822 27",Chaffey,7,"1,496 16 79,822 27","71,496 16 79,822 27","71,496"
8,"Citrus 65,954 27 75,679 42",Citrus,6,"5,954 27 75,679 42","65,954 27 75,679 42","65,954"
9,"Coast 65,141 31 79,490 30",Coast,6,"5,141 31 79,490 30","65,141 31 79,490 30","65,141"
10,"Compton 62,880 44 70,289 61",Compton,6,"2,880 44 70,289 61","62,880 44 70,289 61","62,880"
11,"Contra Costa 65,088 32 73,236 52",Contra Costa,6,"5,088 32 73,236 52","65,088 32 73,236 52","65,088"
12,"Copper Mountain 53,239 70 65,556 69",Copper Mountain,5,"3,239 70 65,556 69","53,239 70 65,556 69","53,239"
13,"Desert 72,125 15 88,811 10",Desert,7,"2,125 15 88,811 10","72,125 15 88,811 10","72,125"
14,"El Camino 73,328 11 88,318 11",El Camino,7,"3,328 11 88,318 11","73,328 11 88,318 11","73,328"
15,"Feather River 62,377 45 77,531 35",Feather River,6,"2,377 45 77,531 35","62,377 45 77,531 35","62,377"
16,"Foothill-De Anza 63,728 38 79,918 26",Foothill-De Anza,6,"3,728 38 79,918 26","63,728 38 79,918 26","63,728"
17,"Gavilan Joint 64,109 35 77,013 38",Gavilan Joint,6,"4,109 35 77,013 38","64,109 35 77,013 38","64,109"
18,"Glendale 68,916 22 82,852 22",Glendale,6,"8,916 22 82,852 22","68,916 22 82,852 22","68,916"
19,"Grossmont-Cuyamaca163,119 41 71,763 57",Grossmont-Cuyamaca,1,"63,119 41 71,763 57","163,119 41 71,763 57","163,119"
20,"Hartnell 60,546 53 75,591 43",Hartnell,6,"0,546 53 75,591 43","60,546 53 75,591 43","60,546"
21,"Imperial 65,892 29 76,390 39",Imperial,6,"5,892 29 76,390 39","65,892 29 76,390 39","65,892"
22,"Kern 79,596 3 90,056 6",Kern,7,"9,596 3 90,056 6","79,596 3 90,056 6","79,596"
23,"Lake Tahoe 55,966 64 67,762 66",Lake Tahoe,5,"5,966 64 67,762 66","55,966 64 67,762 66","55,966"
24,"Lassen 63,748 37 80,577 24",Lassen,6,"3,748 37 80,577 24","63,748 37 80,577 24","63,748"
25,"Long Beach 72,539 12 86,110 13",Long Beach,7,"2,539 12 86,110 13","72,539 12 86,110 13","72,539"
26,"Los Angeles 65,250 30 77,870 34",Los Angeles,6,"5,250 30 77,870 34","65,250 30 77,870 34","65,250"
27,"Los Rios 53,162 71 64,680 70",Los Rios,5,"3,162 71 64,680 70","53,162 71 64,680 70","53,162"
28,"Marin 72,168 14 83,088 20",Marin,7,"2,168 14 83,088 20","72,168 14 83,088 20","72,168"
29,"Mendocino-Lake 61,442 51 75,125 44",Mendocino-Lake,6,"1,442 51 75,125 44","61,442 51 75,125 44","61,442"
30,"Merced 55,018 67 67,511 67",Merced,5,"5,018 67 67,511 67","55,018 67 67,511 67","55,018"
31,"MiraCosta 80,912 2 102,114 1",MiraCosta,8,"0,912 2 102,114 1","80,912 2 102,114 1","80,912"
32,"Monterey Peninsula 61,792 48 75,049 45",Monterey Peninsula,6,"1,792 48 75,049 45","61,792 48 75,049 45","61,792"
33,"Mt. San Antonio 71,441 18 85,699 16",Mt. San Antonio,7,"1,441 18 85,699 16","71,441 18 85,699 16","71,441"
34,"Mt. San Jacinto 60,088 55 69,658 62",Mt. San Jacinto,6,"0,088 55 69,658 62","60,088 55 69,658 62","60,088"
35,"Napa Valley 54,769 68 71,243 59",Napa Valley,5,"4,769 68 71,243 59","54,769 68 71,243 59","54,769"
36,"North Orange County 76,421 9 86,059 14",North Orange County,7,"6,421 9 86,059 14","76,421 9 86,059 14","76,421"
37,"Ohlone 74,649 10 89,774 8",Ohlone,7,"4,649 10 89,774 8","74,649 10 89,774 8","74,649"
38,"Palo Verde 64,240 34 74,473 46",Palo Verde,6,"4,240 34 74,473 46","64,240 34 74,473 46","64,240"
39,"Palomar 69,096 21 84,184 18",Palomar,6,"9,096 21 84,184 18","69,096 21 84,184 18","69,096"
40,"Pasadena Area 78,009 7 78,009 33",Pasadena Area,7,"8,009 7 78,009 33","78,009 7 78,009 33","78,009"
41,"Peralta 44,229 72 57,818 72",Peralta,4,"4,229 72 57,818 72","44,229 72 57,818 72","44,229"
42,"Rancho Santiago 70,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1) and Masters Degree +5",Rancho Santiago,7,"0,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1) and Masters Degree +5","70,685 19 85,838 15Full-Time Faculty at Masters Degree (Step 1) and Masters Degree +5","70,685"
43,"Redwoods 56,817 63 68,488 64",Redwoods,5,"6,817 63 68,488 64","56,817 63 68,488 64","56,817"
44,"Rio Hondo 66,171 26 82,950 21",Rio Hondo,6,"6,171 26 82,950 21","66,171 26 82,950 21","66,171"
45,"Riverside 72,351 13 89,630 9",Riverside,7,"2,351 13 89,630 9","72,351 13 89,630 9","72,351"
46,"San Bernardino 68,843 23 80,974 23",San Bernardino,6,"8,843 23 80,974 23","68,843 23 80,974 23","68,843"
47,"San Diego 60,329 54 69,093 63",San Diego,6,"0,329 54 69,093 63","60,329 54 69,093 63","60,329"
48,"San Francisco 65,900 28 79,250 31",San Francisco,6,"5,900 28 79,250 31","65,900 28 79,250 31","65,900"
49,"San Joaquin Delta 63,372 40 79,714 29",San Joaquin Delta,6,"3,372 40 79,714 29","63,372 40 79,714 29","63,372"
50,"San Jose/Evergreen 81,767 1 97,300 3",San Jose/Evergreen,8,"1,767 1 97,300 3","81,767 1 97,300 3","81,767"
51,"San Luis Obispo County 59,665 56 73,793 50",San Luis Obispo County,5,"9,665 56 73,793 50","59,665 56 73,793 50","59,665"
52,"San Mateo County 78,372 5 97,380 2",San Mateo County,7,"8,372 5 97,380 2","78,372 5 97,380 2","78,372"
53,"Santa Barbara 63,071 42 74,142 48",Santa Barbara,6,"3,071 42 74,142 48","63,071 42 74,142 48","63,071"
54,"Santa Clarita 67,368 25 79,800 28",Santa Clarita,6,"7,368 25 79,800 28","67,368 25 79,800 28","67,368"
55,"Santa Monica 59,133 60 71,799 56",Santa Monica,5,"9,133 60 71,799 56","59,133 60 71,799 56","59,133"
56,"Sequoias 71,484 17 84,584 17",Sequoias,7,"1,484 17 84,584 17","71,484 17 84,584 17","71,484"
57,"Shasta-Tehama-Trinity Joint 59,203 59 73,948 49",Shasta-Tehama-Trinity Joint,5,"9,203 59 73,948 49","59,203 59 73,948 49","59,203"
58,"Sierra Joint 56,994 62 72,740 55",Sierra Joint,5,"6,994 62 72,740 55","56,994 62 72,740 55","56,994"
59,"Siskiyou Joint 55,268 66 64,383 71",Siskiyou Joint,5,"5,268 66 64,383 71","55,268 66 64,383 71","55,268"
60,"Solano 57,904 61 70,449 60",Solano,5,"7,904 61 70,449 60","57,904 61 70,449 60","57,904"
61,"Sonoma County 78,113 6 90,005 7",Sonoma County,7,"8,113 6 90,005 7","78,113 6 90,005 7","78,113"
62,"South Orange County 78,612 4 92,402 4",South Orange County,7,"8,612 4 92,402 4","78,612 4 92,402 4","78,612"
63,"Southwestern 63,776 36 77,174 36",Southwestern,6,"3,776 36 77,174 36","63,776 36 77,174 36","63,776"
64,"State Center 64,849 33 80,513 25",State Center,6,"4,849 33 80,513 25","64,849 33 80,513 25","64,849"
65,"Ventura County 53,766 69 67,206 68",Ventura County,5,"3,766 69 67,206 68","53,766 69 67,206 68","53,766"
66,"Victor Valley 55,714 65 68,063 65",Victor Valley,5,"5,714 65 68,063 65","55,714 65 68,063 65","55,714"
67,"West Hills 62,203 46 73,703 51",West Hills,6,"2,203 46 73,703 51","62,203 46 73,703 51","62,203"
68,"West Kern 61,162 52 77,074 37",West Kern,6,"1,162 52 77,074 37","61,162 52 77,074 37","61,162"
69,"West Valley-Mission 77,622 8 92,192 5",West Valley-Mission,7,"7,622 8 92,192 5","77,622 8 92,192 5","77,622"
70,"Yosemite 62,910 43 75,704 41",Yosemite,6,"2,910 43 75,704 41","62,910 43 75,704 41","62,910"
71,"Yuba 61,595 50 74,445 47",Yuba,6,"1,595 50 74,445 47","61,595 50 74,445 47","61,595"
72,"• Average (Mean) 65,160 78,300",• Average (Mean),6,"5,160 78,300","65,160 78,300","65,160"
73,"• Highest 81,767 102,114",• Highest,8,"1,767 102,114","81,767 102,114","81,767"
74,"• 3rd quartile 70,874 84,001",•,3,"rd quartile 70,874 84,001","3rd quartile 70,874 84,001",3rd
75,"• Median 63,762 77,124",• Median,6,"3,762 77,124","63,762 77,124","63,762"
76,"• 1st quartile 60,269 72,809",•,1,"st quartile 60,269 72,809","1st quartile 60,269 72,809",1st
77,"• Lowest 44,229 57,818",• Lowest,4,"4,229 57,818","44,229 57,818","44,229"

In [27]:
indexes21 = [72, 73, 74, 75, 76, 77]
salarieslist21 = df21['Salary'].drop(index=indexes21).tolist()

In [28]:
indexes21 = [72, 73, 74, 75, 76, 77]
namelist21 = df21['district'].drop(index=indexes21).tolist()

In [29]:
namelist21

['Allan Hancock Joint ',
 'Antelope Valley ',
 'Barstow ',
 'Butte-Glenn ',
 'Cabrillo ',
 'Cerritos ',
 'Chabot-Las Positas ',
 'Chaffey ',
 'Citrus ',
 'Coast ',
 'Compton ',
 'Contra Costa ',
 'Copper Mountain ',
 'Desert ',
 'El Camino ',
 'Feather River ',
 'Foothill-De Anza ',
 'Gavilan Joint ',
 'Glendale ',
 'Grossmont-Cuyamaca',
 'Hartnell ',
 'Imperial ',
 'Kern ',
 'Lake Tahoe ',
 'Lassen ',
 'Long Beach ',
 'Los Angeles ',
 'Los Rios ',
 'Marin ',
 'Mendocino-Lake ',
 'Merced ',
 'MiraCosta ',
 'Monterey Peninsula ',
 'Mt. San Antonio ',
 'Mt. San Jacinto ',
 'Napa Valley ',
 'North Orange County ',
 'Ohlone ',
 'Palo Verde ',
 'Palomar ',
 'Pasadena Area ',
 'Peralta ',
 'Rancho Santiago ',
 'Redwoods ',
 'Rio Hondo ',
 'Riverside ',
 'San Bernardino ',
 'San Diego ',
 'San Francisco ',
 'San Joaquin Delta ',
 'San Jose/Evergreen ',
 'San Luis Obispo County ',
 'San Mateo County ',
 'Santa Barbara ',
 'Santa Clarita ',
 'Santa Monica ',
 'Sequoias ',
 'Shasta-Tehama-Trinity Joint ',
 'Sierra Joint ',
 'Siskiyou Joint ',
 'Solano ',
 'Sonoma County ',
 'South Orange County ',
 'Southwestern ',
 'State Center ',
 'Ventura County ',
 'Victor Valley ',
 'West Hills ',
 'West Kern ',
 'West Valley-Mission ',
 'Yosemite ',
 'Yuba ']

In [30]:
salaryints21 = []
for salary in salarieslist21:
    salary = salary.replace(',', '')
    salary = int(salary)
    salaryints21.append(salary)

In [31]:
print(salaryints21)

[61619, 59562, 59268, 63566, 62138, 70084, 67769, 71496, 65954, 65141, 62880, 65088, 53239, 72125, 73328, 62377, 63728, 64109, 68916, 163119, 60546, 65892, 79596, 55966, 63748, 72539, 65250, 53162, 72168, 61442, 55018, 80912, 61792, 71441, 60088, 54769, 76421, 74649, 64240, 69096, 78009, 44229, 70685, 56817, 66171, 72351, 68843, 60329, 65900, 63372, 81767, 59665, 78372, 63071, 67368, 59133, 71484, 59203, 56994, 55268, 57904, 78113, 78612, 63776, 64849, 53766, 55714, 62203, 61162, 77622, 62910, 61595]

In [32]:
df21_namesalary = pd.DataFrame(list(zip(namelist21, salaryints21)), columns = ['Name', 'Salary'])

In [33]:
#1/5
df21_namesalary
df21 = df21_namesalary

In [34]:
df21.head()

                   Name  Salary
0  Allan Hancock Joint    61619
1      Antelope Valley    59562
2              Barstow    59268
3          Butte-Glenn    63566
4             Cabrillo    62138

In [35]:
df20 = pd.read_csv('ccc_eastbay_salaries20_dirtychart - Sheet1.csv')

In [36]:
df20.head()

                        District Rank Rank
0  Allan Hancock Joint 60,411 42 71,404 49
1      Antelope Valley 59,562 48 72,923 43
2              Barstow 59,268 50 71,760 48
3                Butte 58,628 53 73,038 42
4             Cabrillo 59,000 51 72,134 46

In [37]:
#The following breaks it into multiple columns 
# and assigns them the split column strings
df20[['Name', 'Salary1', 'Salary2']] = df20['District Rank Rank'].str.split('(\d)', n=1, expand=True)

In [38]:
df20

,District Rank Rank,Name,Salary1,Salary2
0,"Allan Hancock Joint 60,411 42 71,404 49",Allan Hancock Joint,6,"0,411 42 71,404 49"
1,"Antelope Valley 59,562 48 72,923 43",Antelope Valley,5,"9,562 48 72,923 43"
2,"Barstow 59,268 50 71,760 48",Barstow,5,"9,268 50 71,760 48"
3,"Butte 58,628 53 73,038 42",Butte,5,"8,628 53 73,038 42"
4,"Cabrillo 59,000 51 72,134 46",Cabrillo,5,"9,000 51 72,134 46"
5,"Cerritos 70,084 12 87,142 7",Cerritos,7,"0,084 12 87,142 7"
6,"Chabot-Las Positas 66,440 22 82,294 16",Chabot-Las Positas,6,"6,440 22 82,294 16"
7,"Chaffey 68,700 17 76,700 27",Chaffey,6,"8,700 17 76,700 27"
8,"Citrus 64,661 27 74,195 36",Citrus,6,"4,661 27 74,195 36"
9,"Coast 61,997 34 75,654 32",Coast,6,"1,997 34 75,654 32"
10,"Compton 60,431 41 67,551 61",Compton,6,"0,431 41 67,551 61"
11,"Contra Costa 65,088 26 73,236 41",Contra Costa,6,"5,088 26 73,236 41"
12,"Copper Mountain 52,068 69 64,113 68",Copper Mountain,5,"2,068 69 64,113 68"
13,"Desert 68,644 18 84,525 12",Desert,6,"8,644 18 84,525 12"
14,"El Camino 68,403 19 82,386 15",El Camino,6,"8,403 19 82,386 15"
15,"Feather River 58,490 55 72,699 45",Feather River,5,"8,490 55 72,699 45"
16,"Foothill-DeAnza 63,728 30 79,918 21",Foothill-DeAnza,6,"3,728 30 79,918 21"
17,"Gavilan 64,109 29 77,013 26",Gavilan,6,"4,109 29 77,013 26"
18,"Glendale 65,634 25 78,906 23",Glendale,6,"5,634 25 78,906 23"
19,"Grossmont-Cuyamaca161,852 35 70,322 54",Grossmont-Cuyamaca,1,"61,852 35 70,322 54"
20,"Hartnell 59,947 46 74,843 33",Hartnell,5,"9,947 46 74,843 33"
21,"Imperial 59,902 47 69,445 56",Imperial,5,"9,902 47 69,445 56"
22,"Kern 77,278 4 87,433 6",Kern,7,"7,278 4 87,433 6"
23,"Lake Tahoe 54,869 65 66,433 66",Lake Tahoe,5,"4,869 65 66,433 66"
24,"Lassen 60,672 39 76,686 28",Lassen,6,"0,672 39 76,686 28"
25,"Long Beach 71,467 9 84,838 11",Long Beach,7,"1,467 9 84,838 11"
26,"Los Angeles 62,090 33 74,100 38",Los Angeles,6,"2,090 33 74,100 38"
27,"Los Rios 51,229 71 62,328 71",Los Rios,5,"1,229 71 62,328 71"
28,"Marin 67,800 21 78,720 24",Marin,6,"7,800 21 78,720 24"
29,"Mendocino-Lake 60,237 44 73,652 40",Mendocino-Lake,6,"0,237 44 73,652 40"
30,"Merced 55,018 64 67,511 62",Merced,5,"5,018 64 67,511 62"
31,"Mira Costa 78,555 1 99,140 1",Mira Costa,7,"8,555 1 99,140 1"
32,"Monterey Peninsula 56,299 59 68,377 59",Monterey Peninsula,5,"6,299 59 68,377 59"
33,"Mt. San Antonio 69,827 13 83,764 13",Mt. San Antonio,6,"9,827 13 83,764 13"
34,"Mt. San Jacinto 57,776 57 66,979 65",Mt. San Jacinto,5,"7,776 57 66,979 65"
35,"Napa Valley 53,174 67 69,168 58",Napa Valley,5,"3,174 67 69,168 58"
36,"North Orange County 70,830 11 80,003 20",North Orange County,7,"0,830 11 80,003 20"
37,"Ohlone 71,046 10 85,441 8",Ohlone,7,"1,046 10 85,441 8"
38,"Palo Verde 60,393 43 70,013 55",Palo Verde,6,"0,393 43 70,013 55"
39,"Palomar 65,762 24 80,122 19",Palomar,6,"5,762 24 80,122 19"
40,"Pasadena Area 74,245 6 74,245 35",Pasadena Area,7,"4,245 6 74,245 35"
41,"Peralta 42,122 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)",Peralta,4,"2,122 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)"
42,Salary ($),Salary ($),None,None
43,"MA no experience,","MA no experience,",None,None
44,Step 1Salary ($),Step,1,Salary ($)
45,"MA 5 years experience,",MA,5,"years experience,"
46,Step 6,Step,6,
47,"Full-Time Faculty Salary Comparisons 2020-21 3 CFT – A Union of Educators and Classified Professionals • August 30, 2021",Full-Time Faculty Salary Comparisons,2,"020-21 3 CFT – A Union of Educators and Classified Professionals • August 30, 2021"
48,District Rank RankMasters Degree (Step 1) and Masters +5 Years (Step 6),District Rank RankMasters Degree (Step,1,) and Masters +5 Years (Step 6)
49,Salary ($),Salary ($),None,None
50,"MA no experience,","MA no experience,",None,None
51,Step 1Salary ($),Step,1,Salary ($)
52,"MA 5 years experience,",MA,5,"years experience,"
53,Step 6,Step,6,
54,"Rancho Santiago 67,967 20 82,537 14",Rancho Santiago,6,"7,967 20 82,537 14"
55,"Redwoods 51,271 70 62,379 70",Redwoods,5,"1,271 70 62,379 70"
56,"Rio Hondo 62,384 32 78,203 25",Rio Hondo,6,"2,384 32 78,203 25"
57,"Riverside 68,860 14 85,305 9",Riverside,6,"8,860 14 85,305 9"
58,"San Bernardino 68,843 15 80,974 18",San Bernardino,6,"8,843 15 80,974 18"
59,"San Diego 58,838 52 67,385 63",San Diego,5,"8,838 52 67,385 63"
60,"San Francisco 65,900 23 79,250 22",San Francisco,6,"5,900 23 79,250 22"
61,"San Joaquin Delta 60,783 38 76,457 30",San Joaquin Delta,6,"0,783 38 76,457 30"
62,"San Jose/Evergreen 74,878 5 89,103 4",San Jose/Evergreen,7,"4,878 5 89,103 4"
63,"San Luis Obispo County 57,057 58 70,568 53",San Luis Obispo County,5,"7,057 58 70,568 53"
64,"San Mateo County 77,964 3 96,876 2",San Mateo County,7,"7,964 3 96,876 2"
65,"Santa Barbara 63,071 31 74,142 37",Santa Barbara,6,"3,071 31 74,142 37"
66,"Santa Clarita 64,116 28 75,948 31",Santa Clarita,6,"4,116 28 75,948 31"
67,"Santa Monica 58,259 56 70,738 51",Santa Monica,5,"8,259 56 70,738 51"
68,"Sequoias 68,735 16 81,331 17",Sequoias,6,"8,735 16 81,331 17"
69,"Shasta-Tehama-Trinity Joint 55,590 61 69,435 57",Shasta-Tehama-Trinity Joint,5,"5,590 61 69,435 57"
70,"Sierra Joint 55,334 62 70,622 52",Sierra Joint,5,"5,334 62 70,622 52"
71,"Siskiyou Joint 54,451 66 63,431 69",Siskiyou Joint,5,"4,451 66 63,431 69"
72,"Solano County 55,109 63 67,048 64",Solano County,5,"5,109 63 67,048 64"
73,"Sonoma County 73,372 8 85,172 10",Sonoma County,7,"3,372 8 85,172 10"
74,"South Orange County 78,028 2 91,717 3",South Orange County,7,"8,028 2 91,717 3"
75,"Southwestern 60,127 45 72,758 44",Southwestern,6,"0,127 45 72,758 44"
76,"State Center 61,720 36 76,628 29",State Center,6,"1,720 36 76,628 29"
77,"Ventura County 52,711 68 65,888 67",Ventura County,5,"2,711 68 65,888 67"
78,"Victor Valley 55,714 60 68,063 60",Victor Valley,5,"5,714 60 68,063 60"
79,"West Hills 60,665 40 71,881 47",West Hills,6,"0,665 40 71,881 47"
80,"West Kern 59,340 49 74,778 34",West Kern,5,"9,340 49 74,778 34"
81,"West Valley-Mission 73,926 7 87,802 5",West Valley-Mission,7,"3,926 7 87,802 5"
82,"Yosemite 61,366 37 73,846 39",Yosemite,6,"1,366 37 73,846 39"
83,"Yuba 58,623 54 70,852 50",Yuba,5,"8,623 54 70,852 50"
84,"• Average (Mean) 62,816 75,519",• Average (Mean),6,"2,816 75,519"
85,"• Highest 78,555 99,140",• Highest,7,"8,555 99,140"
86,"• 3rd quartile 68,463 80,335",•,3,"rd quartile 68,463 80,335"
87,"• Median 61,543 74,169",• Median,6,"1,543 74,169"
88,"• 1st quartile 58,590 70,245",•,1,"st quartile 58,590 70,245"
89,"• Lowest 42,122 55,065",• Lowest,4,"2,122 55,065"
90,1 The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from,,1,The first step placement on this report is step 6 on the GCCCD Salary Schedule and all subsequent step placements are from
91,step 6. Per Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.,step,6,. Per Local 1931 steps 1-5 on the GCCCD Salary Schedule do not apply.
92,"Full-Time Faculty Salary Comparisons 2020-21 4 CFT – A Union of Educators and Classified Professionals • August 30, 2021",Full-Time Faculty Salary Comparisons,2,"020-21 4 CFT – A Union of Educators and Classified Professionals • August 30, 2021"

In [39]:
df20['Salary'] = df20['Salary1'] + df20['Salary2']

In [40]:
df20.head()

,District Rank Rank,Name,Salary1,Salary2,Salary
0,"Allan Hancock Joint 60,411 42 71,404 49",Allan Hancock Joint,6,"0,411 42 71,404 49","60,411 42 71,404 49"
1,"Antelope Valley 59,562 48 72,923 43",Antelope Valley,5,"9,562 48 72,923 43","59,562 48 72,923 43"
2,"Barstow 59,268 50 71,760 48",Barstow,5,"9,268 50 71,760 48","59,268 50 71,760 48"
3,"Butte 58,628 53 73,038 42",Butte,5,"8,628 53 73,038 42","58,628 53 73,038 42"
4,"Cabrillo 59,000 51 72,134 46",Cabrillo,5,"9,000 51 72,134 46","59,000 51 72,134 46"

In [41]:
indexes20 = [*range(42, 54, 1)] + [*range(84, 93, 1)]

In [42]:
df20 = df20.drop(index=indexes20)

In [43]:
df20

,District Rank Rank,Name,Salary1,Salary2,Salary
0,"Allan Hancock Joint 60,411 42 71,404 49",Allan Hancock Joint,6,"0,411 42 71,404 49","60,411 42 71,404 49"
1,"Antelope Valley 59,562 48 72,923 43",Antelope Valley,5,"9,562 48 72,923 43","59,562 48 72,923 43"
2,"Barstow 59,268 50 71,760 48",Barstow,5,"9,268 50 71,760 48","59,268 50 71,760 48"
3,"Butte 58,628 53 73,038 42",Butte,5,"8,628 53 73,038 42","58,628 53 73,038 42"
4,"Cabrillo 59,000 51 72,134 46",Cabrillo,5,"9,000 51 72,134 46","59,000 51 72,134 46"
5,"Cerritos 70,084 12 87,142 7",Cerritos,7,"0,084 12 87,142 7","70,084 12 87,142 7"
6,"Chabot-Las Positas 66,440 22 82,294 16",Chabot-Las Positas,6,"6,440 22 82,294 16","66,440 22 82,294 16"
7,"Chaffey 68,700 17 76,700 27",Chaffey,6,"8,700 17 76,700 27","68,700 17 76,700 27"
8,"Citrus 64,661 27 74,195 36",Citrus,6,"4,661 27 74,195 36","64,661 27 74,195 36"
9,"Coast 61,997 34 75,654 32",Coast,6,"1,997 34 75,654 32","61,997 34 75,654 32"
10,"Compton 60,431 41 67,551 61",Compton,6,"0,431 41 67,551 61","60,431 41 67,551 61"
11,"Contra Costa 65,088 26 73,236 41",Contra Costa,6,"5,088 26 73,236 41","65,088 26 73,236 41"
12,"Copper Mountain 52,068 69 64,113 68",Copper Mountain,5,"2,068 69 64,113 68","52,068 69 64,113 68"
13,"Desert 68,644 18 84,525 12",Desert,6,"8,644 18 84,525 12","68,644 18 84,525 12"
14,"El Camino 68,403 19 82,386 15",El Camino,6,"8,403 19 82,386 15","68,403 19 82,386 15"
15,"Feather River 58,490 55 72,699 45",Feather River,5,"8,490 55 72,699 45","58,490 55 72,699 45"
16,"Foothill-DeAnza 63,728 30 79,918 21",Foothill-DeAnza,6,"3,728 30 79,918 21","63,728 30 79,918 21"
17,"Gavilan 64,109 29 77,013 26",Gavilan,6,"4,109 29 77,013 26","64,109 29 77,013 26"
18,"Glendale 65,634 25 78,906 23",Glendale,6,"5,634 25 78,906 23","65,634 25 78,906 23"
19,"Grossmont-Cuyamaca161,852 35 70,322 54",Grossmont-Cuyamaca,1,"61,852 35 70,322 54","161,852 35 70,322 54"
20,"Hartnell 59,947 46 74,843 33",Hartnell,5,"9,947 46 74,843 33","59,947 46 74,843 33"
21,"Imperial 59,902 47 69,445 56",Imperial,5,"9,902 47 69,445 56","59,902 47 69,445 56"
22,"Kern 77,278 4 87,433 6",Kern,7,"7,278 4 87,433 6","77,278 4 87,433 6"
23,"Lake Tahoe 54,869 65 66,433 66",Lake Tahoe,5,"4,869 65 66,433 66","54,869 65 66,433 66"
24,"Lassen 60,672 39 76,686 28",Lassen,6,"0,672 39 76,686 28","60,672 39 76,686 28"
25,"Long Beach 71,467 9 84,838 11",Long Beach,7,"1,467 9 84,838 11","71,467 9 84,838 11"
26,"Los Angeles 62,090 33 74,100 38",Los Angeles,6,"2,090 33 74,100 38","62,090 33 74,100 38"
27,"Los Rios 51,229 71 62,328 71",Los Rios,5,"1,229 71 62,328 71","51,229 71 62,328 71"
28,"Marin 67,800 21 78,720 24",Marin,6,"7,800 21 78,720 24","67,800 21 78,720 24"
29,"Mendocino-Lake 60,237 44 73,652 40",Mendocino-Lake,6,"0,237 44 73,652 40","60,237 44 73,652 40"
30,"Merced 55,018 64 67,511 62",Merced,5,"5,018 64 67,511 62","55,018 64 67,511 62"
31,"Mira Costa 78,555 1 99,140 1",Mira Costa,7,"8,555 1 99,140 1","78,555 1 99,140 1"
32,"Monterey Peninsula 56,299 59 68,377 59",Monterey Peninsula,5,"6,299 59 68,377 59","56,299 59 68,377 59"
33,"Mt. San Antonio 69,827 13 83,764 13",Mt. San Antonio,6,"9,827 13 83,764 13","69,827 13 83,764 13"
34,"Mt. San Jacinto 57,776 57 66,979 65",Mt. San Jacinto,5,"7,776 57 66,979 65","57,776 57 66,979 65"
35,"Napa Valley 53,174 67 69,168 58",Napa Valley,5,"3,174 67 69,168 58","53,174 67 69,168 58"
36,"North Orange County 70,830 11 80,003 20",North Orange County,7,"0,830 11 80,003 20","70,830 11 80,003 20"
37,"Ohlone 71,046 10 85,441 8",Ohlone,7,"1,046 10 85,441 8","71,046 10 85,441 8"
38,"Palo Verde 60,393 43 70,013 55",Palo Verde,6,"0,393 43 70,013 55","60,393 43 70,013 55"
39,"Palomar 65,762 24 80,122 19",Palomar,6,"5,762 24 80,122 19","65,762 24 80,122 19"
40,"Pasadena Area 74,245 6 74,245 35",Pasadena Area,7,"4,245 6 74,245 35","74,245 6 74,245 35"
41,"Peralta 42,122 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)",Peralta,4,"2,122 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)","42,122 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)"
54,"Rancho Santiago 67,967 20 82,537 14",Rancho Santiago,6,"7,967 20 82,537 14","67,967 20 82,537 14"
55,"Redwoods 51,271 70 62,379 70",Redwoods,5,"1,271 70 62,379 70","51,271 70 62,379 70"
56,"Rio Hondo 62,384 32 78,203 25",Rio Hondo,6,"2,384 32 78,203 25","62,384 32 78,203 25"
57,"Riverside 68,860 14 85,305 9",Riverside,6,"8,860 14 85,305 9","68,860 14 85,305 9"
58,"San Bernardino 68,843 15 80,974 18",San Bernardino,6,"8,843 15 80,974 18","68,843 15 80,974 18"
59,"San Diego 58,838 52 67,385 63",San Diego,5,"8,838 52 67,385 63","58,838 52 67,385 63"
60,"San Francisco 65,900 23 79,250 22",San Francisco,6,"5,900 23 79,250 22","65,900 23 79,250 22"
61,"San Joaquin Delta 60,783 38 76,457 30",San Joaquin Delta,6,"0,783 38 76,457 30","60,783 38 76,457 30"
62,"San Jose/Evergreen 74,878 5 89,103 4",San Jose/Evergreen,7,"4,878 5 89,103 4","74,878 5 89,103 4"
63,"San Luis Obispo County 57,057 58 70,568 53",San Luis Obispo County,5,"7,057 58 70,568 53","57,057 58 70,568 53"
64,"San Mateo County 77,964 3 96,876 2",San Mateo County,7,"7,964 3 96,876 2","77,964 3 96,876 2"
65,"Santa Barbara 63,071 31 74,142 37",Santa Barbara,6,"3,071 31 74,142 37","63,071 31 74,142 37"
66,"Santa Clarita 64,116 28 75,948 31",Santa Clarita,6,"4,116 28 75,948 31","64,116 28 75,948 31"
67,"Santa Monica 58,259 56 70,738 51",Santa Monica,5,"8,259 56 70,738 51","58,259 56 70,738 51"
68,"Sequoias 68,735 16 81,331 17",Sequoias,6,"8,735 16 81,331 17","68,735 16 81,331 17"
69,"Shasta-Tehama-Trinity Joint 55,590 61 69,435 57",Shasta-Tehama-Trinity Joint,5,"5,590 61 69,435 57","55,590 61 69,435 57"
70,"Sierra Joint 55,334 62 70,622 52",Sierra Joint,5,"5,334 62 70,622 52","55,334 62 70,622 52"
71,"Siskiyou Joint 54,451 66 63,431 69",Siskiyou Joint,5,"4,451 66 63,431 69","54,451 66 63,431 69"
72,"Solano County 55,109 63 67,048 64",Solano County,5,"5,109 63 67,048 64","55,109 63 67,048 64"
73,"Sonoma County 73,372 8 85,172 10",Sonoma County,7,"3,372 8 85,172 10","73,372 8 85,172 10"
74,"South Orange County 78,028 2 91,717 3",South Orange County,7,"8,028 2 91,717 3","78,028 2 91,717 3"
75,"Southwestern 60,127 45 72,758 44",Southwestern,6,"0,127 45 72,758 44","60,127 45 72,758 44"
76,"State Center 61,720 36 76,628 29",State Center,6,"1,720 36 76,628 29","61,720 36 76,628 29"
77,"Ventura County 52,711 68 65,888 67",Ventura County,5,"2,711 68 65,888 67","52,711 68 65,888 67"
78,"Victor Valley 55,714 60 68,063 60",Victor Valley,5,"5,714 60 68,063 60","55,714 60 68,063 60"
79,"West Hills 60,665 40 71,881 47",West Hills,6,"0,665 40 71,881 47","60,665 40 71,881 47"
80,"West Kern 59,340 49 74,778 34",West Kern,5,"9,340 49 74,778 34","59,340 49 74,778 34"
81,"West Valley-Mission 73,926 7 87,802 5",West Valley-Mission,7,"3,926 7 87,802 5","73,926 7 87,802 5"
82,"Yosemite 61,366 37 73,846 39",Yosemite,6,"1,366 37 73,846 39","61,366 37 73,846 39"
83,"Yuba 58,623 54 70,852 50",Yuba,5,"8,623 54 70,852 50","58,623 54 70,852 50"

In [44]:
type(df20.iloc[41]['Salary'])
#

str

In [45]:
# df20.iloc[41]['Salary'].str \
# .replace(' 72 55,065 72Masters Degree (Step 1) and Masters +5 Years (Step 6)', '')

df20.at[41, 'Salary']= '42,122 72 55,065 72'

In [46]:
df20['Salary'].str.split(' ', expand=True)
df20['Salary'] = df20['Salary'].str.split(' ', expand=True)[0]
df20['Salary'] = df20['Salary'].str.replace(',', '')
df20['Salary'] = df20['Salary'].astype(int)
#I think this worked, but I ran it twice, and it was no longer valid

In [47]:
type(df20['Salary'][0])

numpy.int64

In [48]:
df20 = df20.drop(['District Rank Rank', 'Salary1', 'Salary2'], axis=1)

In [49]:
df20.reset_index(inplace=True)

In [51]:
df20 = df20.drop(['level_0'], axis=1)

KeyError: "['level_0'] not found in axis"

In [52]:
df20 = df20.drop(['index'], axis=1)

In [53]:
#2/5
df20.head()

                   Name  Salary
0  Allan Hancock Joint    60411
1      Antelope Valley    59562
2              Barstow    59268
3                Butte    58628
4             Cabrillo    59000

In [54]:
df19 = pd.read_csv('ccc_eastbay_salaries19_dirtychart - Sheet1.csv')

In [55]:
df19

                           Namesalary
0          Allan Hancock Joint 59,460
1               Antelope Valley58,394
2                       Barstow59,268
3                         Butte58,628
4                      Cabrillo59,000
5                      Cerritos70,084
6            Chabot-Las Positas65,137
7                       Chaffey68,700
8                        Citrus64,661
9                         Coast61,997
10                      Compton59,503
11                 Contra Costa63,192
12              Copper Mountain52,068
13                       Desert68,644
14                    El Camino68,403
15                Feather River58,490
16              Foothill-DeAnza63,728
17                      Gavilan64,109
18                     Glendale65,634
19           Grossmont-Cuyamaca54,402
20                     Hartnell58,772
21                     Imperial58,727
22                         Kern77,278
23                   Lake Tahoe54,058
24                       Lassen60,672
25                   Long Beach69,547
26                  Los Angeles62,090
27                     Los Rios50,262
28                        Marin65,616
29               Mendocino-Lake59,056
30                       Merced55,018
31                   Mira Costa76,826
32           Monterey Peninsula56,299
33              Mt. San Antonio67,622
34              Mt. San Jacinto57,776
35                  Napa Valley53,174
36          North Orange County67,137
37                       Ohlone68,786
38                   Palo Verde59,618
39                      Palomar65,762
40                Pasadena Area74,245
41                      Peralta42,122
42              Rancho Santiago65,353
43                     Redwoods51,271
44                    Rio Hondo61,766
45                    Riverside68,860
46               San Bernardino68,843
47                    San Diego58,838
48                San Francisco63,700
49            San Joaquin Delta59,013
50           San Jose/Evergreen74,878
51       San Luis Obispo County57,057
52             San Mateo County71,328
53                Santa Barbara63,071
54                Santa Clarita64,116
55                 Santa Monica55,998
56                     Sequoias67,387
57  Shasta-Tehama-Trinity Joint55,590
58                 Sierra Joint55,334
59               Siskiyou Joint52,865
60                Solano County53,699
61                Sonoma County72,924
62          South Orange County75,814
63                 Southwestern60,127
64                 State Center61,261
65               Ventura County52,711
66                Victor Valley55,714
67                   West Hills60,665
68                    West Kern57,994
69          West Valley-Mission70,406
70                     Yosemite61,125
71                         Yuba56,772

In [56]:
df19[['Name', 'Salary1', 'Salary2']] = df19['Namesalary'].str.split('(\d)', n=1, expand=True)

In [57]:
df19['Salary3'] = df19['Salary1'] + df19['Salary2']

In [58]:
df19['Salary3'] = df19['Salary3'].str.replace(',', '')

In [59]:
df19['Salary3'] = df19['Salary3'].astype(int)

In [60]:
type(df19['Salary3'][0])

numpy.int64

In [152]:
df19.head()

                   Namesalary                 Name Salary1 Salary2  Salary3
0  Allan Hancock Joint 59,460  Allan Hancock Joint       5   9,460    59460
1       Antelope Valley58,394      Antelope Valley       5   8,394    58394
2               Barstow59,268              Barstow       5   9,268    59268
3                 Butte58,628                Butte       5   8,628    58628
4              Cabrillo59,000             Cabrillo       5   9,000    59000

In [153]:
df19 = df19.drop(['Namesalary', 'Salary1', 'Salary2'], axis=1)

In [154]:
#3/5
df19

                           Name  Salary3
0           Allan Hancock Joint    59460
1               Antelope Valley    58394
2                       Barstow    59268
3                         Butte    58628
4                      Cabrillo    59000
5                      Cerritos    70084
6            Chabot-Las Positas    65137
7                       Chaffey    68700
8                        Citrus    64661
9                         Coast    61997
10                      Compton    59503
11                 Contra Costa    63192
12              Copper Mountain    52068
13                       Desert    68644
14                    El Camino    68403
15                Feather River    58490
16              Foothill-DeAnza    63728
17                      Gavilan    64109
18                     Glendale    65634
19           Grossmont-Cuyamaca    54402
20                     Hartnell    58772
21                     Imperial    58727
22                         Kern    77278
23                   Lake Tahoe    54058
24                       Lassen    60672
25                   Long Beach    69547
26                  Los Angeles    62090
27                     Los Rios    50262
28                        Marin    65616
29               Mendocino-Lake    59056
30                       Merced    55018
31                   Mira Costa    76826
32           Monterey Peninsula    56299
33              Mt. San Antonio    67622
34              Mt. San Jacinto    57776
35                  Napa Valley    53174
36          North Orange County    67137
37                       Ohlone    68786
38                   Palo Verde    59618
39                      Palomar    65762
40                Pasadena Area    74245
41                      Peralta    42122
42              Rancho Santiago    65353
43                     Redwoods    51271
44                    Rio Hondo    61766
45                    Riverside    68860
46               San Bernardino    68843
47                    San Diego    58838
48                San Francisco    63700
49            San Joaquin Delta    59013
50           San Jose/Evergreen    74878
51       San Luis Obispo County    57057
52             San Mateo County    71328
53                Santa Barbara    63071
54                Santa Clarita    64116
55                 Santa Monica    55998
56                     Sequoias    67387
57  Shasta-Tehama-Trinity Joint    55590
58                 Sierra Joint    55334
59               Siskiyou Joint    52865
60                Solano County    53699
61                Sonoma County    72924
62          South Orange County    75814
63                 Southwestern    60127
64                 State Center    61261
65               Ventura County    52711
66                Victor Valley    55714
67                   West Hills    60665
68                    West Kern    57994
69          West Valley-Mission    70406
70                     Yosemite    61125
71                         Yuba    56772

In [63]:
df18 = pd.read_csv('ccc_eastbay__salaries18_dirtychart - Sheet1.csv')

In [64]:
df18['shorter_columnname'] = df18['Full-Time Faculty Salary Comparisons 2018-19   3   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)']

In [65]:
df18

,"Full-Time Faculty Salary Comparisons 2018-19 3 CALIFORNIA FEDERATION OF TEACHERS • August 8, 2019 DistrictSalary ($)",shorter_columnname
0,"MA no experience,","MA no experience,"
1,Step 1RankSalary ($),Step 1RankSalary ($)
2,MA 5 years,MA 5 years
3,"experience, Step 6Rank","experience, Step 6Rank"
4,"Allan Hancock Joint 58,294 39 68,900 46","Allan Hancock Joint 58,294 39 68,900 46"
5,"Antelope Valley 56,126 52 68,717 48","Antelope Valley 56,126 52 68,717 48"
6,"Barstow 57,397 44 69,495 44","Barstow 57,397 44 69,495 44"
7,"Butte 56,777 48 70,732 39","Butte 56,777 48 70,732 39"
8,"Cabrillo 57,499 43 70,299 40","Cabrillo 57,499 43 70,299 40"
9,"Cerritos 67,871 10 84,391 5","Cerritos 67,871 10 84,391 5"
10,"Chabot-Las Positas 62,035 27 76,838 17","Chabot-Las Positas 62,035 27 76,838 17"
11,"Chaffey 66,000 16 74,000 28","Chaffey 66,000 16 74,000 28"
12,"Citrus 63,393 22 72,740 32","Citrus 63,393 22 72,740 32"
13,"Coast 59,463 36 72,562 33","Coast 59,463 36 72,562 33"
14,"Compton 59,503 34 66,513 58","Compton 59,503 34 66,513 58"
15,"Contra Costa 59,616 33 67,716 54","Contra Costa 59,616 33 67,716 54"
16,"Copper Mountain 52,068 68 64,113 66","Copper Mountain 52,068 68 64,113 66"
17,"Desert 66,477 14 81,857 9","Desert 66,477 14 81,857 9"
18,"El Camino 68,403 8 82,386 8","El Camino 68,403 8 82,386 8"
19,"Feather River 55,949 56 69,541 43","Feather River 55,949 56 69,541 43"
20,"Foothill-DeAnza 60,121 32 75,394 22","Foothill-DeAnza 60,121 32 75,394 22"
21,"Gavilan 62,394 25 74,952 23","Gavilan 62,394 25 74,952 23"
22,"Glendale 64,033 20 76,982 16","Glendale 64,033 20 76,982 16"
23,"Grossmont-Cuyamaca 52,817 66 60,050 70","Grossmont-Cuyamaca 52,817 66 60,050 70"
24,"Hartnell 55,973 55 69,881 41","Hartnell 55,973 55 69,881 41"
25,"Imperial 56,873 47 65,934 62","Imperial 56,873 47 65,934 62"
26,"Kern 73,767 2 83,460 6","Kern 73,767 2 83,460 6"
27,"Lake Tahoe 55,079 57 66,688 57","Lake Tahoe 55,079 57 66,688 57"
28,"Lassen 58,757 38 74,265 26","Lassen 58,757 38 74,265 26"
29,"Long Beach 68,284 9 81,060 11","Long Beach 68,284 9 81,060 11"
30,Los A,Los A
31,"ngeles 60,130 31 71,770 36","ngeles 60,130 31 71,770 36"
32,"Los Rios 46,660 71 56,769 71","Los Rios 46,660 71 56,769 71"
33,"Marin 65,616 17 76,536 19","Marin 65,616 17 76,536 19"
34,"Mendocino-Lake 56,513 50 69,098 45","Mendocino-Lake 56,513 50 69,098 45"
35,"Merced 55,018 58 67,511 55","Merced 55,018 58 67,511 55"
36,"Mira Costa 76,826 1 96,958 1","Mira Costa 76,826 1 96,958 1"
37,"Monterey Peninsula 54,659 60 66,385 59","Monterey Peninsula 54,659 60 66,385 59"
38,"Mt. San Antonio 67,622 11 81,119 10","Mt. San Antonio 67,622 11 81,119 10"
39,"Mt. San Jacinto 56,094 53 65,028 65","Mt. San Jacinto 56,094 53 65,028 65"
40,"Napa Valley 52,131 67 67,812 53","Napa Valley 52,131 67 67,812 53"
41,"North Orange County 67,137 12 75,832 21","North Orange County 67,137 12 75,832 21"
42,"Ohlone 68,786 7 82,721 7","Ohlone 68,786 7 82,721 7"
43,"Palo Verde 57,018 45 66,101 61","Palo Verde 57,018 45 66,101 61"
44,"Palomar 63,686 21 77,593 14Masters Degree (Step 1) and Masters +5 Years (Step 6)","Palomar 63,686 21 77,593 14Masters Degree (Step 1) and Masters +5 Years (Step 6)"
45,"Full-Time Faculty Salary Comparisons 2018-19 4 CALIFORNIA FEDERATION OF TEACHERS • August 8, 2019 DistrictSalary ($)","Full-Time Faculty Salary Comparisons 2018-19 4 CALIFORNIA FEDERATION OF TEACHERS • August 8, 2019 DistrictSalary ($)"
46,"MA no experience,","MA no experience,"
47,Step 1RankSalary ($),Step 1RankSalary ($)
48,MA 5 years,MA 5 years
49,"experience, Step 6Rank","experience, Step 6Rank"
50,"Pasadena Area 72,082 5 72,082 34","Pasadena Area 72,082 5 72,082 34"
51,"Peralta 40,793 72 53,327 72","Peralta 40,793 72 53,327 72"
52,"Rancho Santiago 62,839 24 76,310 20","Rancho Santiago 62,839 24 76,310 20"
53,"Redwoods 51,271 69 62,379 67","Redwoods 51,271 69 62,379 67"
54,"Rio Hondo 59,242 37 74,265 25","Rio Hondo 59,242 37 74,265 25"
55,"Riverside 64,097 19 79,404 13","Riverside 64,097 19 79,404 13"
56,"San Bernardino 57,964 40 68,843 47","San Bernardino 57,964 40 68,843 47"
57,"San Diego 57,836 41 66,239 60","San Diego 57,836 41 66,239 60"
58,"San Francisco 61,200 28 74,550 24","San Francisco 61,200 28 74,550 24"
59,"San Joaquin Delta 57,017 46 71,720 37","San Joaquin Delta 57,017 46 71,720 37"
60,"San Jose/Evergreen 73,052 4 86,930 3","San Jose/Evergreen 73,052 4 86,930 3"
61,"San Luis Obispo County 55,016 59 68,044 50","San Luis Obispo County 55,016 59 68,044 50"
62,"San Mateo County 71,328 6 88,620 2","San Mateo County 71,328 6 88,620 2"
63,"Santa Barbara 63,071 23 74,142 27","Santa Barbara 63,071 23 74,142 27"
64,"Santa Clarita 62,160 26 73,632 30","Santa Clarita 62,160 26 73,632 30"
65,"Santa Monica 55,998 54 67,993 51","Santa Monica 55,998 54 67,993 51"
66,"Sequoias 64,795 18 76,669 18","Sequoias 64,795 18 76,669 18"
67,"Shasta-Tehama-Trinity Joint 53,710 62 67,087 56","Shasta-Tehama-Trinity Joint 53,710 62 67,087 56"
68,"Sierra Joint 53,206 64 67,905 52","Sierra Joint 53,206 64 67,905 52"
69,"Siskiyou Joint 52,865 65 61,585 68","Siskiyou Joint 52,865 65 61,585 68"
70,"Solano County 53,699 63 65,333 64","Solano County 53,699 63 65,333 64"
71,"Sonoma County 66,407 15 77,032 15","Sonoma County 66,407 15 77,032 15"
72,"South Orange County 73,714 3 86,646 4","South Orange County 73,714 3 86,646 4"
73,"Southwestern 57,670 42 69,785 42","Southwestern 57,670 42 69,785 42"
74,"State Center 59,477 35 73,843 29","State Center 59,477 35 73,843 29"
75,"Ventura County 48,751 70 60,939 69","Ventura County 48,751 70 60,939 69"
76,"Victor Valley 53,955 61 65,914 63","Victor Valley 53,955 61 65,914 63"
77,"West Hills 60,665 30 71,881 35","West Hills 60,665 30 71,881 35"
78,"West Kern 56,163 51 70,775 38","West Kern 56,163 51 70,775 38"
79,"West Valley-Mission 67,053 13 79,639 12","West Valley-Mission 67,053 13 79,639 12"
80,"Yosemite 61,125 29 73,556 31","Yosemite 61,125 29 73,556 31"
81,"Yuba 56,772 49 68,615 49","Yuba 56,772 49 68,615 49"
82,•A,•A
83,"verage (Mean) 60,109 72,311","verage (Mean) 60,109 72,311"
84,•H,•H
85,"ighest 76,826 96,958","ighest 76,826 96,958"
86,•3r,•3r
87,"d quartile 64,272 76,569","d quartile 64,272 76,569"
88,•M,•M
89,"edian 59,353 71,745","edian 59,353 71,745"
90,•1s,•1s
91,"t quartile 55,992 67,","t quartile 55,992 67,"
92,665,665
93,•Low,•Low
94,"est 40,793 53,327","est 40,793 53,327"

In [66]:
indexes18 = [*range(0, 4)] + [*range(45, 50)] + [*range(82, 95)]

In [67]:
df18 = df18.drop(index=indexes18)

In [68]:
df18

,"Full-Time Faculty Salary Comparisons 2018-19 3 CALIFORNIA FEDERATION OF TEACHERS • August 8, 2019 DistrictSalary ($)",shorter_columnname
4,"Allan Hancock Joint 58,294 39 68,900 46","Allan Hancock Joint 58,294 39 68,900 46"
5,"Antelope Valley 56,126 52 68,717 48","Antelope Valley 56,126 52 68,717 48"
6,"Barstow 57,397 44 69,495 44","Barstow 57,397 44 69,495 44"
7,"Butte 56,777 48 70,732 39","Butte 56,777 48 70,732 39"
8,"Cabrillo 57,499 43 70,299 40","Cabrillo 57,499 43 70,299 40"
9,"Cerritos 67,871 10 84,391 5","Cerritos 67,871 10 84,391 5"
10,"Chabot-Las Positas 62,035 27 76,838 17","Chabot-Las Positas 62,035 27 76,838 17"
11,"Chaffey 66,000 16 74,000 28","Chaffey 66,000 16 74,000 28"
12,"Citrus 63,393 22 72,740 32","Citrus 63,393 22 72,740 32"
13,"Coast 59,463 36 72,562 33","Coast 59,463 36 72,562 33"
14,"Compton 59,503 34 66,513 58","Compton 59,503 34 66,513 58"
15,"Contra Costa 59,616 33 67,716 54","Contra Costa 59,616 33 67,716 54"
16,"Copper Mountain 52,068 68 64,113 66","Copper Mountain 52,068 68 64,113 66"
17,"Desert 66,477 14 81,857 9","Desert 66,477 14 81,857 9"
18,"El Camino 68,403 8 82,386 8","El Camino 68,403 8 82,386 8"
19,"Feather River 55,949 56 69,541 43","Feather River 55,949 56 69,541 43"
20,"Foothill-DeAnza 60,121 32 75,394 22","Foothill-DeAnza 60,121 32 75,394 22"
21,"Gavilan 62,394 25 74,952 23","Gavilan 62,394 25 74,952 23"
22,"Glendale 64,033 20 76,982 16","Glendale 64,033 20 76,982 16"
23,"Grossmont-Cuyamaca 52,817 66 60,050 70","Grossmont-Cuyamaca 52,817 66 60,050 70"
24,"Hartnell 55,973 55 69,881 41","Hartnell 55,973 55 69,881 41"
25,"Imperial 56,873 47 65,934 62","Imperial 56,873 47 65,934 62"
26,"Kern 73,767 2 83,460 6","Kern 73,767 2 83,460 6"
27,"Lake Tahoe 55,079 57 66,688 57","Lake Tahoe 55,079 57 66,688 57"
28,"Lassen 58,757 38 74,265 26","Lassen 58,757 38 74,265 26"
29,"Long Beach 68,284 9 81,060 11","Long Beach 68,284 9 81,060 11"
30,Los A,Los A
31,"ngeles 60,130 31 71,770 36","ngeles 60,130 31 71,770 36"
32,"Los Rios 46,660 71 56,769 71","Los Rios 46,660 71 56,769 71"
33,"Marin 65,616 17 76,536 19","Marin 65,616 17 76,536 19"
34,"Mendocino-Lake 56,513 50 69,098 45","Mendocino-Lake 56,513 50 69,098 45"
35,"Merced 55,018 58 67,511 55","Merced 55,018 58 67,511 55"
36,"Mira Costa 76,826 1 96,958 1","Mira Costa 76,826 1 96,958 1"
37,"Monterey Peninsula 54,659 60 66,385 59","Monterey Peninsula 54,659 60 66,385 59"
38,"Mt. San Antonio 67,622 11 81,119 10","Mt. San Antonio 67,622 11 81,119 10"
39,"Mt. San Jacinto 56,094 53 65,028 65","Mt. San Jacinto 56,094 53 65,028 65"
40,"Napa Valley 52,131 67 67,812 53","Napa Valley 52,131 67 67,812 53"
41,"North Orange County 67,137 12 75,832 21","North Orange County 67,137 12 75,832 21"
42,"Ohlone 68,786 7 82,721 7","Ohlone 68,786 7 82,721 7"
43,"Palo Verde 57,018 45 66,101 61","Palo Verde 57,018 45 66,101 61"
44,"Palomar 63,686 21 77,593 14Masters Degree (Step 1) and Masters +5 Years (Step 6)","Palomar 63,686 21 77,593 14Masters Degree (Step 1) and Masters +5 Years (Step 6)"
50,"Pasadena Area 72,082 5 72,082 34","Pasadena Area 72,082 5 72,082 34"
51,"Peralta 40,793 72 53,327 72","Peralta 40,793 72 53,327 72"
52,"Rancho Santiago 62,839 24 76,310 20","Rancho Santiago 62,839 24 76,310 20"
53,"Redwoods 51,271 69 62,379 67","Redwoods 51,271 69 62,379 67"
54,"Rio Hondo 59,242 37 74,265 25","Rio Hondo 59,242 37 74,265 25"
55,"Riverside 64,097 19 79,404 13","Riverside 64,097 19 79,404 13"
56,"San Bernardino 57,964 40 68,843 47","San Bernardino 57,964 40 68,843 47"
57,"San Diego 57,836 41 66,239 60","San Diego 57,836 41 66,239 60"
58,"San Francisco 61,200 28 74,550 24","San Francisco 61,200 28 74,550 24"
59,"San Joaquin Delta 57,017 46 71,720 37","San Joaquin Delta 57,017 46 71,720 37"
60,"San Jose/Evergreen 73,052 4 86,930 3","San Jose/Evergreen 73,052 4 86,930 3"
61,"San Luis Obispo County 55,016 59 68,044 50","San Luis Obispo County 55,016 59 68,044 50"
62,"San Mateo County 71,328 6 88,620 2","San Mateo County 71,328 6 88,620 2"
63,"Santa Barbara 63,071 23 74,142 27","Santa Barbara 63,071 23 74,142 27"
64,"Santa Clarita 62,160 26 73,632 30","Santa Clarita 62,160 26 73,632 30"
65,"Santa Monica 55,998 54 67,993 51","Santa Monica 55,998 54 67,993 51"
66,"Sequoias 64,795 18 76,669 18","Sequoias 64,795 18 76,669 18"
67,"Shasta-Tehama-Trinity Joint 53,710 62 67,087 56","Shasta-Tehama-Trinity Joint 53,710 62 67,087 56"
68,"Sierra Joint 53,206 64 67,905 52","Sierra Joint 53,206 64 67,905 52"
69,"Siskiyou Joint 52,865 65 61,585 68","Siskiyou Joint 52,865 65 61,585 68"
70,"Solano County 53,699 63 65,333 64","Solano County 53,699 63 65,333 64"
71,"Sonoma County 66,407 15 77,032 15","Sonoma County 66,407 15 77,032 15"
72,"South Orange County 73,714 3 86,646 4","South Orange County 73,714 3 86,646 4"
73,"Southwestern 57,670 42 69,785 42","Southwestern 57,670 42 69,785 42"
74,"State Center 59,477 35 73,843 29","State Center 59,477 35 73,843 29"
75,"Ventura County 48,751 70 60,939 69","Ventura County 48,751 70 60,939 69"
76,"Victor Valley 53,955 61 65,914 63","Victor Valley 53,955 61 65,914 63"
77,"West Hills 60,665 30 71,881 35","West Hills 60,665 30 71,881 35"
78,"West Kern 56,163 51 70,775 38","West Kern 56,163 51 70,775 38"
79,"West Valley-Mission 67,053 13 79,639 12","West Valley-Mission 67,053 13 79,639 12"
80,"Yosemite 61,125 29 73,556 31","Yosemite 61,125 29 73,556 31"
81,"Yuba 56,772 49 68,615 49","Yuba 56,772 49 68,615 49"

In [69]:
df18[['Name', 'Salary1', 'Salary2']] = df18['shorter_columnname'].str.split('(\d)', n=1, expand=True)

In [70]:
df18['Salary'] = df18['Salary1'] + df18['Salary2']

In [71]:
df18['Salary'] = df18['Salary'].str.split(' ', expand=True)[0]

In [72]:
df18 = df18.drop(['Full-Time Faculty Salary Comparisons 2018-19   3   CALIFORNIA FEDERATION OF TEACHERS  • August 8, 2019 DistrictSalary ($)', 'shorter_columnname', 'Salary1', 'Salary2'], axis=1)

In [73]:
df18.at[31, "ngeles"] = 'Los Angeles'

In [74]:
df18.head() #fuck

                   Name  Salary ngeles
4  Allan Hancock Joint   58,294    NaN
5      Antelope Valley   56,126    NaN
6              Barstow   57,397    NaN
7                Butte   56,777    NaN
8             Cabrillo   57,499    NaN

In [75]:
df18 = df18.drop(['ngeles'], axis=1)

In [76]:
df18 = df18.replace('ngeles', 'Los Angeles', regex=True)

In [77]:
df18 = df18.drop(index=30, axis=0)

In [78]:
df18.reset_index(inplace=True)#fuck

In [79]:
df18 = df18.drop(['index'], axis=1)

In [80]:
df18.head()

                   Name  Salary
0  Allan Hancock Joint   58,294
1      Antelope Valley   56,126
2              Barstow   57,397
3                Butte   56,777
4             Cabrillo   57,499

In [81]:
df18['Salary'] = df18['Salary'].str.replace(',', '')
#already worked

In [82]:
df18['Salary'] = df18['Salary'].astype(int)

In [83]:
#4/5
df18.head()

                   Name  Salary
0  Allan Hancock Joint    58294
1      Antelope Valley    56126
2              Barstow    57397
3                Butte    56777
4             Cabrillo    57499

In [84]:
df17 = pd.read_csv('ccc_eastbay_salaries17_dirtychart - Sheet1.csv')

In [85]:
df17[['Name', 'Salary1', 'Salary2']] = df17['Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with'].str.split('(\d)', n=1, expand=True)

In [86]:
indexes17 = [*range(0, 4)] + [*range(44, 49)] + [*range(81, 89)]

In [87]:
df17 = df17.drop(index=indexes17)

In [88]:
len(df17)

72

In [89]:
df17['Salary'] = df17['Salary1'] + df17['Salary2']

In [90]:
df17.head()

,"Full Time Faculty Salary Comparisons 2017-18 CALIFORNIA FEDERATION OF TEACHERS • July 25, 2018 DistrictSalary ($): MA with",Name,Salary1,Salary2,Salary
4,"Allan Hancock Joint 56,628 39 66,506 52",Allan Hancock Joint,5,"6,628 39 66,506 52","56,628 39 66,506 52"
5,"Antelope Valley 56,126 43 68,717 40",Antelope Valley,5,"6,126 43 68,717 40","56,126 43 68,717 40"
6,"Barstow 54,324 52 65,774 56",Barstow,5,"4,324 52 65,774 56","54,324 52 65,774 56"
7,"Butte 54,073 54 67,364 45",Butte,5,"4,073 54 67,364 45","54,073 54 67,364 45"
8,"Cabrillo 56,151 42 68,651 41",Cabrillo,5,"6,151 42 68,651 41","56,151 42 68,651 41"

In [91]:
df17[['Salary', 'some_bullshit']] = df17['Salary'].str.split(' ', n=1, expand=True)

In [92]:
df17

,"Full Time Faculty Salary Comparisons 2017-18 CALIFORNIA FEDERATION OF TEACHERS • July 25, 2018 DistrictSalary ($): MA with",Name,Salary1,Salary2,Salary,some_bullshit
4,"Allan Hancock Joint 56,628 39 66,506 52",Allan Hancock Joint,5,"6,628 39 66,506 52","56,628","39 66,506 52"
5,"Antelope Valley 56,126 43 68,717 40",Antelope Valley,5,"6,126 43 68,717 40","56,126","43 68,717 40"
6,"Barstow 54,324 52 65,774 56",Barstow,5,"4,324 52 65,774 56","54,324","52 65,774 56"
7,"Butte 54,073 54 67,364 45",Butte,5,"4,073 54 67,364 45","54,073","54 67,364 45"
8,"Cabrillo 56,151 42 68,651 41",Cabrillo,5,"6,151 42 68,651 41","56,151","42 68,651 41"
9,"Cerritos 64,818 13 80,595 4",Cerritos,6,"4,818 13 80,595 4","64,818","13 80,595 4"
10,"Chabot-Las Positas 62,035 16 76,838 13",Chabot-Las Positas,6,"2,035 16 76,838 13","62,035","16 76,838 13"
11,"Chaffey 59,581 25 72,833 22",Chaffey,5,"9,581 25 72,833 22","59,581","25 72,833 22"
12,"Citrus 61,547 19 70,621 29",Citrus,6,"1,547 19 70,621 29","61,547","19 70,621 29"
13,"Coast 57,335 37 69,966 33",Coast,5,"7,335 37 69,966 33","57,335","37 69,966 33"
14,"Compton 59,503 28 66,513 51",Compton,5,"9,503 28 66,513 51","59,503","28 66,513 51"
15,"Contra Costa 59,616 24 67,716 44",Contra Costa,5,"9,616 24 67,716 44","59,616","24 67,716 44"
16,"Copper Mountain 50,307 67 61,945 64",Copper Mountain,5,"0,307 67 61,945 64","50,307","67 61,945 64"
17,"Desert 64,723 14 79,697 10",Desert,6,"4,723 14 79,697 10","64,723","14 79,697 10"
18,"El Camino 66,598 11 80,212 7",El Camino,6,"6,598 11 80,212 7","66,598","11 80,212 7"
19,"Feather River 54,041 55 67,169 46",Feather River,5,"4,041 55 67,169 46","54,041","55 67,169 46"
20,"Foothill-DeAnza 60,121 23 75,394 18",Foothill-DeAnza,6,"0,121 23 75,394 18","60,121","23 75,394 18"
21,"Gavilan 61,170 21 73,482 21",Gavilan,6,"1,170 21 73,482 21","61,170","21 73,482 21"
22,"Glendale 61,868 18 74,379 19",Glendale,6,"1,868 18 74,379 19","61,868","18 74,379 19"
23,"Grossmont-Cuyamaca 51,279 65 58,301 71",Grossmont-Cuyamaca,5,"1,279 65 58,301 71","51,279","65 58,301 71"
24,"Hartnell 55,146 46 68,848 38",Hartnell,5,"5,146 46 68,848 38","55,146","46 68,848 38"
25,"Imperial 52,802 60 61,214 66",Imperial,5,"2,802 60 61,214 66","52,802","60 61,214 66"
26,"Kern 71,210 3 80,568 5",Kern,7,"1,210 3 80,568 5","71,210","3 80,568 5"
27,"Lake Tahoe 54,615 51 66,126 54",Lake Tahoe,5,"4,615 51 66,126 54","54,615","51 66,126 54"
28,"Lassen 56,328 41 71,195 28",Lassen,5,"6,328 41 71,195 28","56,328","41 71,195 28"
29,"Long Beach 67,275 7 79,862 9",Long Beach,6,"7,275 7 79,862 9","67,275","7 79,862 9"
30,"Los Angeles 58, 550 33 69,870 34",Los Angeles,5,"8, 550 33 69,870 34","58,","550 33 69,870 34"
31,"Los Rios 49,505 70 60,231 69",Los Rios,4,"9,505 70 60,231 69","49,505","70 60,231 69"
32,"Marin 59,064 30 69,984 31",Marin,5,"9,064 30 69,984 31","59,064","30 69,984 31"
33,"Mendocino-Lake 56,513 40 69,098 36",Mendocino-Lake,5,"6,513 40 69,098 36","56,513","40 69,098 36"
34,"Merced 50,868 66 62,418 63",Merced,5,"0,868 66 62,418 63","50,868","66 62,418 63"
35,"Mira Costa 73,482 1 92,737 1",Mira Costa,7,"3,482 1 92,737 1","73,482","1 92,737 1"
36,"Monterey Peninsula 54,118 53 65,728 57",Monterey Peninsula,5,"4,118 53 65,728 57","54,118","53 65,728 57"
37,"Mt. San Antonio 65,837 12 78,978 12",Mt. San Antonio,6,"5,837 12 78,978 12","65,837","12 78,978 12"
38,"Mt. San Jacinto 53,936 56 62,527 62",Mt. San Jacinto,5,"3,936 56 62,527 62","53,936","56 62,527 62"
39,"Napa Valley 52,131 63 67,812 43",Napa Valley,5,"2,131 63 67,812 43","52,131","63 67,812 43"
40,"North Orange County 67,137 9 75,832 15",North Orange County,6,"7,137 9 75,832 15","67,137","9 75,832 15"
41,"Ohlone 66,970 10 80,535 6",Ohlone,6,"6,970 10 80,535 6","66,970","10 80,535 6"
42,"Palo Verde 54,661 50 63,368 60",Palo Verde,5,"4,661 50 63,368 60","54,661","50 63,368 60"
43,"Palomar 62,005 17 75,545 171. Masters Degree (Step 1) and Masters +5 Years (Step 6)",Palomar,6,"2,005 17 75,545 171. Masters Degree (Step 1) and Masters +5 Years (Step 6)","62,005","17 75,545 171. Masters Degree (Step 1) and Masters +5 Years (Step 6)"
49,"Pasadena Area 68,804 5 68,804 39",Pasadena Area,6,"8,804 5 68,804 39","68,804","5 68,804 39"
50,"Peralta 41,263 72 53,941 72",Peralta,4,"1,263 72 53,941 72","41,263","72 53,941 72"
51,"Rancho Santiago 59,559 26 72,327 23",Rancho Santiago,5,"9,559 26 72,327 23","59,559","26 72,327 23"
52,"Redwoods 50,266 68 61,156 67",Redwoods,5,"0,266 68 61,156 67","50,266","68 61,156 67"
53,"Rio Hondo 57,679 35 72,306 24",Rio Hondo,5,"7,679 35 72,306 24","57,679","35 72,306 24"
54,"Riverside 61,182 20 75,793 16",Riverside,6,"1,182 20 75,793 16","61,182","20 75,793 16"
55,"San Bernardino 52,447 61 63,182 61",San Bernardino,5,"2,447 61 63,182 61","52,447","61 63,182 61"
56,"San Diego 57,549 36 65,909 55",San Diego,5,"7,549 36 65,909 55","57,549","36 65,909 55"
57,"San Francisco 58,499 34 71,849 26",San Francisco,5,"8,499 34 71,849 26","58,499","34 71,849 26"
58,"San Joaquin Delta 57,017 38 71,720 27",San Joaquin Delta,5,"7,017 38 71,720 27","57,017","38 71,720 27"
59,"San Jose/Evergreen 67,236 8 80,009 8",San Jose/Evergreen,6,"7,236 8 80,009 8","67,236","8 80,009 8"
60,"San Luis Obispo County 52,056 64 65,084 58",San Luis Obispo County,5,"2,056 64 65,084 58","52,056","64 65,084 58"
61,"San Mateo County 68,568 6 85,200 2",San Mateo County,6,"8,568 6 85,200 2","68,568","6 85,200 2"
62,"Santa Barbara 58,944 32 69,291 35",Santa Barbara,5,"8,944 32 69,291 35","58,944","32 69,291 35"
63,"Santa Clarita 59,556 27 70,548 30",Santa Clarita,5,"9,556 27 70,548 30","59,556","27 70,548 30"
64,"Santa Monica 54,900 47 66,660 49",Santa Monica,5,"4,900 47 66,660 49","54,900","47 66,660 49"
65,"Sequoias 60,840 22 71,990 25",Sequoias,6,"0,840 22 71,990 25","60,840","22 71,990 25"
66,"Shasta-Tehama-Trinity Joint 53,710 57 67,087 47",Shasta-Tehama-Trinity Joint,5,"3,710 57 67,087 47","53,710","57 67,087 47"
67,"Sierra Joint 53,206 58 67,905 42",Sierra Joint,5,"3,206 58 67,905 42","53,206","58 67,905 42"
68,"Siskiyou Joint 52,865 59 61,585 65",Siskiyou Joint,5,"2,865 59 61,585 65","52,865","59 61,585 65"
69,"Solano County 49,966 69 59,957 70",Solano County,4,"9,966 69 59,957 70","49,966","69 59,957 70"
70,"Sonoma County 68,869 4 79,024 11",Sonoma County,6,"8,869 4 79,024 11","68,869","4 79,024 11"
71,"South Orange County 71,768 2 84,359 3",South Orange County,7,"1,768 2 84,359 3","71,768","2 84,359 3"
72,"Southwestern 55,178 45 66,770 48",Southwestern,5,"5,178 45 66,770 48","55,178","45 66,770 48"
73,"State Center 59,477 29 73,843 20",State Center,5,"9,477 29 73,843 20","59,477","29 73,843 20"
74,"Ventura County 48,751 71 60,939 68",Ventura County,4,"8,751 71 60,939 68","48,751","71 60,939 68"
75,"Victor Valley 52,383 62 63,994 59",Victor Valley,5,"2,383 62 63,994 59","52,383","62 63,994 59"
76,"West Hills 59,064 30 69,984 31",West Hills,5,"9,064 30 69,984 31","59,064","30 69,984 31"
77,"West Kern 54,682 49 68,908 37",West Kern,5,"4,682 49 68,908 37","54,682","49 68,908 37"
78,"West Valley-Mission 63,860 15 75,847 14",West Valley-Mission,6,"3,860 15 75,847 14","63,860","15 75,847 14"
79,"Yosemite 55,384 44 66,648 50",Yosemite,5,"5,384 44 66,648 50","55,384","44 66,648 50"
80,"Yuba 54,727 48 66,144 53",Yuba,5,"4,727 48 66,144 53","54,727","48 66,144 53"

In [93]:
df17['Salary'] = df17['Salary'].str.replace(',', '')

In [94]:
df17['Salary'] = df17['Salary'].astype(int)

In [95]:
df17 = df17.drop(['Full Time Faculty Salary Comparisons 2017-18  CALIFORNIA FEDERATION OF TEACHERS  • July 25, 2018 DistrictSalary ($):  MA with', 'Salary1', 'Salary2', 'some_bullshit'], axis=1)

In [96]:
df17 = df17.reset_index()

In [97]:
df17 = df17.drop(['index'], axis=1)
#already worked, so it'll error

In [98]:
df17

                            Name  Salary
0           Allan Hancock Joint    56628
1               Antelope Valley    56126
2                       Barstow    54324
3                         Butte    54073
4                      Cabrillo    56151
5                      Cerritos    64818
6            Chabot-Las Positas    62035
7                       Chaffey    59581
8                        Citrus    61547
9                         Coast    57335
10                      Compton    59503
11                 Contra Costa    59616
12              Copper Mountain    50307
13                       Desert    64723
14                    El Camino    66598
15                Feather River    54041
16              Foothill-DeAnza    60121
17                      Gavilan    61170
18                     Glendale    61868
19           Grossmont-Cuyamaca    51279
20                     Hartnell    55146
21                     Imperial    52802
22                         Kern    71210
23                   Lake Tahoe    54615
24                       Lassen    56328
25                   Long Beach    67275
26                  Los Angeles       58
27                     Los Rios    49505
28                        Marin    59064
29               Mendocino-Lake    56513
30                       Merced    50868
31                   Mira Costa    73482
32           Monterey Peninsula    54118
33              Mt. San Antonio    65837
34              Mt. San Jacinto    53936
35                  Napa Valley    52131
36          North Orange County    67137
37                       Ohlone    66970
38                   Palo Verde    54661
39                      Palomar    62005
40                Pasadena Area    68804
41                      Peralta    41263
42              Rancho Santiago    59559
43                     Redwoods    50266
44                    Rio Hondo    57679
45                    Riverside    61182
46               San Bernardino    52447
47                    San Diego    57549
48                San Francisco    58499
49            San Joaquin Delta    57017
50           San Jose/Evergreen    67236
51       San Luis Obispo County    52056
52             San Mateo County    68568
53                Santa Barbara    58944
54                Santa Clarita    59556
55                 Santa Monica    54900
56                     Sequoias    60840
57  Shasta-Tehama-Trinity Joint    53710
58                 Sierra Joint    53206
59               Siskiyou Joint    52865
60                Solano County    49966
61                Sonoma County    68869
62          South Orange County    71768
63                 Southwestern    55178
64                 State Center    59477
65               Ventura County    48751
66                Victor Valley    52383
67                   West Hills    59064
68                    West Kern    54682
69          West Valley-Mission    63860
70                     Yosemite    55384
71                         Yuba    54727

In [99]:
type(df17['Salary'][0])

numpy.int64

In [100]:
df21.head()

                   Name  Salary
0  Allan Hancock Joint    61619
1      Antelope Valley    59562
2              Barstow    59268
3          Butte-Glenn    63566
4             Cabrillo    62138

In [101]:
df20.head()

                   Name  Salary
0  Allan Hancock Joint    60411
1      Antelope Valley    59562
2              Barstow    59268
3                Butte    58628
4             Cabrillo    59000

In [102]:
df19.head()

                   Namesalary                  Name Salary1 Salary2  Salary3
0  Allan Hancock Joint 59,460  Allan Hancock Joint        5   9,460    59460
1       Antelope Valley58,394       Antelope Valley       5   8,394    58394
2               Barstow59,268               Barstow       5   9,268    59268
3                 Butte58,628                 Butte       5   8,628    58628
4              Cabrillo59,000              Cabrillo       5   9,000    59000

In [103]:
df18.head()

                   Name  Salary
0  Allan Hancock Joint    58294
1      Antelope Valley    56126
2              Barstow    57397
3                Butte    56777
4             Cabrillo    57499

In [104]:
df17

                            Name  Salary
0           Allan Hancock Joint    56628
1               Antelope Valley    56126
2                       Barstow    54324
3                         Butte    54073
4                      Cabrillo    56151
5                      Cerritos    64818
6            Chabot-Las Positas    62035
7                       Chaffey    59581
8                        Citrus    61547
9                         Coast    57335
10                      Compton    59503
11                 Contra Costa    59616
12              Copper Mountain    50307
13                       Desert    64723
14                    El Camino    66598
15                Feather River    54041
16              Foothill-DeAnza    60121
17                      Gavilan    61170
18                     Glendale    61868
19           Grossmont-Cuyamaca    51279
20                     Hartnell    55146
21                     Imperial    52802
22                         Kern    71210
23                   Lake Tahoe    54615
24                       Lassen    56328
25                   Long Beach    67275
26                  Los Angeles       58
27                     Los Rios    49505
28                        Marin    59064
29               Mendocino-Lake    56513
30                       Merced    50868
31                   Mira Costa    73482
32           Monterey Peninsula    54118
33              Mt. San Antonio    65837
34              Mt. San Jacinto    53936
35                  Napa Valley    52131
36          North Orange County    67137
37                       Ohlone    66970
38                   Palo Verde    54661
39                      Palomar    62005
40                Pasadena Area    68804
41                      Peralta    41263
42              Rancho Santiago    59559
43                     Redwoods    50266
44                    Rio Hondo    57679
45                    Riverside    61182
46               San Bernardino    52447
47                    San Diego    57549
48                San Francisco    58499
49            San Joaquin Delta    57017
50           San Jose/Evergreen    67236
51       San Luis Obispo County    52056
52             San Mateo County    68568
53                Santa Barbara    58944
54                Santa Clarita    59556
55                 Santa Monica    54900
56                     Sequoias    60840
57  Shasta-Tehama-Trinity Joint    53710
58                 Sierra Joint    53206
59               Siskiyou Joint    52865
60                Solano County    49966
61                Sonoma County    68869
62          South Orange County    71768
63                 Southwestern    55178
64                 State Center    59477
65               Ventura County    48751
66                Victor Valley    52383
67                   West Hills    59064
68                    West Kern    54682
69          West Valley-Mission    63860
70                     Yosemite    55384
71                         Yuba    54727

In [105]:
df17 = df17.rename(columns={'Salary' : 'Salary1'})

In [106]:
df17.at[26, 'Salary1']=('58550')

In [107]:
df17['Salary1'] = df17['Salary1'].astype(int)

In [108]:
df17['Salary1'][26]

58550

In [109]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    72 non-null     object
 1   Salary  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [110]:
df18 = df18.rename(columns={'Salary' : 'Salary2'})

In [111]:
df18.head()

                   Name  Salary2
0  Allan Hancock Joint     58294
1      Antelope Valley     56126
2              Barstow     57397
3                Butte     56777
4             Cabrillo     57499

In [112]:
df20 = df20.rename(columns={'Salary': 'Salary4'})

In [113]:
df20.head()

                   Name  Salary4
0  Allan Hancock Joint     60411
1      Antelope Valley     59562
2              Barstow     59268
3                Butte     58628
4             Cabrillo     59000

In [114]:
df21 = df21.rename(columns={'Salary': 'Salary5'})

In [115]:
df21.head()

                   Name  Salary5
0  Allan Hancock Joint     61619
1      Antelope Valley     59562
2              Barstow     59268
3          Butte-Glenn     63566
4             Cabrillo     62138

In [116]:
merge17_18 = df17.merge(df18,
          left_on='Name',
          right_on='Name',
          how='left')

In [117]:
df19.head()

                   Namesalary                  Name Salary1 Salary2  Salary3
0  Allan Hancock Joint 59,460  Allan Hancock Joint        5   9,460    59460
1       Antelope Valley58,394       Antelope Valley       5   8,394    58394
2               Barstow59,268               Barstow       5   9,268    59268
3                 Butte58,628                 Butte       5   8,628    58628
4              Cabrillo59,000              Cabrillo       5   9,000    59000

In [118]:
for name in df19['Name']:
    print(type(name))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [119]:
df21['Name'] = df21['Name'].str.strip()

In [120]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     72 non-null     object
 1   Salary2  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [121]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Namesalary  72 non-null     object
 1   Name        72 non-null     object
 2   Salary1     72 non-null     object
 3   Salary2     72 non-null     object
 4   Salary3     72 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.9+ KB

In [122]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     72 non-null     object
 1   Salary4  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [123]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     72 non-null     object
 1   Salary5  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [124]:
#I already made the following variable higher up on the page:
merge17_18

                            Name  Salary1  Salary2
0           Allan Hancock Joint     56628    58294
1               Antelope Valley     56126    56126
2                       Barstow     54324    57397
3                         Butte     54073    56777
4                      Cabrillo     56151    57499
5                      Cerritos     64818    67871
6            Chabot-Las Positas     62035    62035
7                       Chaffey     59581    66000
8                        Citrus     61547    63393
9                         Coast     57335    59463
10                      Compton     59503    59503
11                 Contra Costa     59616    59616
12              Copper Mountain     50307    52068
13                       Desert     64723    66477
14                    El Camino     66598    68403
15                Feather River     54041    55949
16              Foothill-DeAnza     60121    60121
17                      Gavilan     61170    62394
18                     Glendale     61868    64033
19           Grossmont-Cuyamaca     51279    52817
20                     Hartnell     55146    55973
21                     Imperial     52802    56873
22                         Kern     71210    73767
23                   Lake Tahoe     54615    55079
24                       Lassen     56328    58757
25                   Long Beach     67275    68284
26                  Los Angeles     58550    60130
27                     Los Rios     49505    46660
28                        Marin     59064    65616
29               Mendocino-Lake     56513    56513
30                       Merced     50868    55018
31                   Mira Costa     73482    76826
32           Monterey Peninsula     54118    54659
33              Mt. San Antonio     65837    67622
34              Mt. San Jacinto     53936    56094
35                  Napa Valley     52131    52131
36          North Orange County     67137    67137
37                       Ohlone     66970    68786
38                   Palo Verde     54661    57018
39                      Palomar     62005    63686
40                Pasadena Area     68804    72082
41                      Peralta     41263    40793
42              Rancho Santiago     59559    62839
43                     Redwoods     50266    51271
44                    Rio Hondo     57679    59242
45                    Riverside     61182    64097
46               San Bernardino     52447    57964
47                    San Diego     57549    57836
48                San Francisco     58499    61200
49            San Joaquin Delta     57017    57017
50           San Jose/Evergreen     67236    73052
51       San Luis Obispo County     52056    55016
52             San Mateo County     68568    71328
53                Santa Barbara     58944    63071
54                Santa Clarita     59556    62160
55                 Santa Monica     54900    55998
56                     Sequoias     60840    64795
57  Shasta-Tehama-Trinity Joint     53710    53710
58                 Sierra Joint     53206    53206
59               Siskiyou Joint     52865    52865
60                Solano County     49966    53699
61                Sonoma County     68869    66407
62          South Orange County     71768    73714
63                 Southwestern     55178    57670
64                 State Center     59477    59477
65               Ventura County     48751    48751
66                Victor Valley     52383    53955
67                   West Hills     59064    60665
68                    West Kern     54682    56163
69          West Valley-Mission     63860    67053
70                     Yosemite     55384    61125
71                         Yuba     54727    56772

In [125]:
merge17_18_19 = merge17_18.merge(df19,
          left_on='Name',
          right_on='Name',
          how='left')

In [126]:
merge17_18_19

,Name,Salary1_x,Salary2_x,Namesalary,Salary1_y,Salary2_y,Salary3
0,Allan Hancock Joint,56628,58294,"Allan Hancock Joint 59,460",5,"9,460",59460.0
1,Antelope Valley,56126,56126,NaN,NaN,NaN,NaN
2,Barstow,54324,57397,NaN,NaN,NaN,NaN
3,Butte,54073,56777,NaN,NaN,NaN,NaN
4,Cabrillo,56151,57499,NaN,NaN,NaN,NaN
5,Cerritos,64818,67871,NaN,NaN,NaN,NaN
6,Chabot-Las Positas,62035,62035,NaN,NaN,NaN,NaN
7,Chaffey,59581,66000,NaN,NaN,NaN,NaN
8,Citrus,61547,63393,NaN,NaN,NaN,NaN
9,Coast,57335,59463,NaN,NaN,NaN,NaN
10,Compton,59503,59503,NaN,NaN,NaN,NaN
11,Contra Costa,59616,59616,NaN,NaN,NaN,NaN
12,Copper Mountain,50307,52068,NaN,NaN,NaN,NaN
13,Desert,64723,66477,NaN,NaN,NaN,NaN
14,El Camino,66598,68403,NaN,NaN,NaN,NaN
15,Feather River,54041,55949,NaN,NaN,NaN,NaN
16,Foothill-DeAnza,60121,60121,NaN,NaN,NaN,NaN
17,Gavilan,61170,62394,NaN,NaN,NaN,NaN
18,Glendale,61868,64033,NaN,NaN,NaN,NaN
19,Grossmont-Cuyamaca,51279,52817,NaN,NaN,NaN,NaN
20,Hartnell,55146,55973,NaN,NaN,NaN,NaN
21,Imperial,52802,56873,NaN,NaN,NaN,NaN
22,Kern,71210,73767,NaN,NaN,NaN,NaN
23,Lake Tahoe,54615,55079,NaN,NaN,NaN,NaN
24,Lassen,56328,58757,NaN,NaN,NaN,NaN
25,Long Beach,67275,68284,NaN,NaN,NaN,NaN
26,Los Angeles,58550,60130,NaN,NaN,NaN,NaN
27,Los Rios,49505,46660,NaN,NaN,NaN,NaN
28,Marin,59064,65616,NaN,NaN,NaN,NaN
29,Mendocino-Lake,56513,56513,NaN,NaN,NaN,NaN
30,Merced,50868,55018,NaN,NaN,NaN,NaN
31,Mira Costa,73482,76826,NaN,NaN,NaN,NaN
32,Monterey Peninsula,54118,54659,NaN,NaN,NaN,NaN
33,Mt. San Antonio,65837,67622,NaN,NaN,NaN,NaN
34,Mt. San Jacinto,53936,56094,NaN,NaN,NaN,NaN
35,Napa Valley,52131,52131,NaN,NaN,NaN,NaN
36,North Orange County,67137,67137,NaN,NaN,NaN,NaN
37,Ohlone,66970,68786,NaN,NaN,NaN,NaN
38,Palo Verde,54661,57018,NaN,NaN,NaN,NaN
39,Palomar,62005,63686,NaN,NaN,NaN,NaN
40,Pasadena Area,68804,72082,NaN,NaN,NaN,NaN
41,Peralta,41263,40793,NaN,NaN,NaN,NaN
42,Rancho Santiago,59559,62839,NaN,NaN,NaN,NaN
43,Redwoods,50266,51271,NaN,NaN,NaN,NaN
44,Rio Hondo,57679,59242,NaN,NaN,NaN,NaN
45,Riverside,61182,64097,NaN,NaN,NaN,NaN
46,San Bernardino,52447,57964,NaN,NaN,NaN,NaN
47,San Diego,57549,57836,NaN,NaN,NaN,NaN
48,San Francisco,58499,61200,NaN,NaN,NaN,NaN
49,San Joaquin Delta,57017,57017,NaN,NaN,NaN,NaN
50,San Jose/Evergreen,67236,73052,NaN,NaN,NaN,NaN
51,San Luis Obispo County,52056,55016,NaN,NaN,NaN,NaN
52,San Mateo County,68568,71328,NaN,NaN,NaN,NaN
53,Santa Barbara,58944,63071,NaN,NaN,NaN,NaN
54,Santa Clarita,59556,62160,NaN,NaN,NaN,NaN
55,Santa Monica,54900,55998,NaN,NaN,NaN,NaN
56,Sequoias,60840,64795,NaN,NaN,NaN,NaN
57,Shasta-Tehama-Trinity Joint,53710,53710,NaN,NaN,NaN,NaN
58,Sierra Joint,53206,53206,NaN,NaN,NaN,NaN
59,Siskiyou Joint,52865,52865,NaN,NaN,NaN,NaN
60,Solano County,49966,53699,NaN,NaN,NaN,NaN
61,Sonoma County,68869,66407,NaN,NaN,NaN,NaN
62,South Orange County,71768,73714,NaN,NaN,NaN,NaN
63,Southwestern,55178,57670,NaN,NaN,NaN,NaN
64,State Center,59477,59477,NaN,NaN,NaN,NaN
65,Ventura County,48751,48751,NaN,NaN,NaN,NaN
66,Victor Valley,52383,53955,NaN,NaN,NaN,NaN
67,West Hills,59064,60665,NaN,NaN,NaN,NaN
68,West Kern,54682,56163,NaN,NaN,NaN,NaN
69,West Valley-Mission,63860,67053,NaN,NaN,NaN,NaN
70,Yosemite,55384,61125,NaN,NaN,NaN,NaN
71,Yuba,54727,56772,NaN,NaN,NaN,NaN

In [127]:
merge17_18_19_20 = merge17_18_19.merge(df20,
          left_on='Name',
          right_on='Name',
          how='left')

In [128]:
merge17_18_19_20_21 = merge17_18_19_20.merge(df21,
          left_on='Name',
          right_on='Name',
          how='left')

In [129]:
merge17_18_19_20_21

,Name,Salary1_x,Salary2_x,Namesalary,Salary1_y,Salary2_y,Salary3,Salary4,Salary5
0,Allan Hancock Joint,56628,58294,"Allan Hancock Joint 59,460",5,"9,460",59460.0,60411.0,NaN
1,Antelope Valley,56126,56126,NaN,NaN,NaN,NaN,59562.0,NaN
2,Barstow,54324,57397,NaN,NaN,NaN,NaN,59268.0,NaN
3,Butte,54073,56777,NaN,NaN,NaN,NaN,58628.0,NaN
4,Cabrillo,56151,57499,NaN,NaN,NaN,NaN,59000.0,NaN
5,Cerritos,64818,67871,NaN,NaN,NaN,NaN,70084.0,NaN
6,Chabot-Las Positas,62035,62035,NaN,NaN,NaN,NaN,66440.0,NaN
7,Chaffey,59581,66000,NaN,NaN,NaN,NaN,68700.0,NaN
8,Citrus,61547,63393,NaN,NaN,NaN,NaN,64661.0,NaN
9,Coast,57335,59463,NaN,NaN,NaN,NaN,61997.0,NaN
10,Compton,59503,59503,NaN,NaN,NaN,NaN,60431.0,NaN
11,Contra Costa,59616,59616,NaN,NaN,NaN,NaN,65088.0,NaN
12,Copper Mountain,50307,52068,NaN,NaN,NaN,NaN,52068.0,NaN
13,Desert,64723,66477,NaN,NaN,NaN,NaN,68644.0,NaN
14,El Camino,66598,68403,NaN,NaN,NaN,NaN,68403.0,NaN
15,Feather River,54041,55949,NaN,NaN,NaN,NaN,58490.0,NaN
16,Foothill-DeAnza,60121,60121,NaN,NaN,NaN,NaN,63728.0,NaN
17,Gavilan,61170,62394,NaN,NaN,NaN,NaN,64109.0,NaN
18,Glendale,61868,64033,NaN,NaN,NaN,NaN,65634.0,NaN
19,Grossmont-Cuyamaca,51279,52817,NaN,NaN,NaN,NaN,NaN,NaN
20,Hartnell,55146,55973,NaN,NaN,NaN,NaN,59947.0,NaN
21,Imperial,52802,56873,NaN,NaN,NaN,NaN,59902.0,NaN
22,Kern,71210,73767,NaN,NaN,NaN,NaN,77278.0,NaN
23,Lake Tahoe,54615,55079,NaN,NaN,NaN,NaN,54869.0,NaN
24,Lassen,56328,58757,NaN,NaN,NaN,NaN,60672.0,NaN
25,Long Beach,67275,68284,NaN,NaN,NaN,NaN,71467.0,NaN
26,Los Angeles,58550,60130,NaN,NaN,NaN,NaN,62090.0,NaN
27,Los Rios,49505,46660,NaN,NaN,NaN,NaN,51229.0,NaN
28,Marin,59064,65616,NaN,NaN,NaN,NaN,67800.0,NaN
29,Mendocino-Lake,56513,56513,NaN,NaN,NaN,NaN,60237.0,NaN
30,Merced,50868,55018,NaN,NaN,NaN,NaN,55018.0,NaN
31,Mira Costa,73482,76826,NaN,NaN,NaN,NaN,78555.0,NaN
32,Monterey Peninsula,54118,54659,NaN,NaN,NaN,NaN,56299.0,NaN
33,Mt. San Antonio,65837,67622,NaN,NaN,NaN,NaN,69827.0,NaN
34,Mt. San Jacinto,53936,56094,NaN,NaN,NaN,NaN,57776.0,NaN
35,Napa Valley,52131,52131,NaN,NaN,NaN,NaN,53174.0,NaN
36,North Orange County,67137,67137,NaN,NaN,NaN,NaN,70830.0,NaN
37,Ohlone,66970,68786,NaN,NaN,NaN,NaN,71046.0,NaN
38,Palo Verde,54661,57018,NaN,NaN,NaN,NaN,60393.0,NaN
39,Palomar,62005,63686,NaN,NaN,NaN,NaN,65762.0,NaN
40,Pasadena Area,68804,72082,NaN,NaN,NaN,NaN,74245.0,NaN
41,Peralta,41263,40793,NaN,NaN,NaN,NaN,42122.0,NaN
42,Rancho Santiago,59559,62839,NaN,NaN,NaN,NaN,67967.0,NaN
43,Redwoods,50266,51271,NaN,NaN,NaN,NaN,51271.0,NaN
44,Rio Hondo,57679,59242,NaN,NaN,NaN,NaN,62384.0,NaN
45,Riverside,61182,64097,NaN,NaN,NaN,NaN,68860.0,NaN
46,San Bernardino,52447,57964,NaN,NaN,NaN,NaN,68843.0,NaN
47,San Diego,57549,57836,NaN,NaN,NaN,NaN,58838.0,NaN
48,San Francisco,58499,61200,NaN,NaN,NaN,NaN,65900.0,NaN
49,San Joaquin Delta,57017,57017,NaN,NaN,NaN,NaN,60783.0,NaN
50,San Jose/Evergreen,67236,73052,NaN,NaN,NaN,NaN,74878.0,NaN
51,San Luis Obispo County,52056,55016,NaN,NaN,NaN,NaN,57057.0,NaN
52,San Mateo County,68568,71328,NaN,NaN,NaN,NaN,77964.0,NaN
53,Santa Barbara,58944,63071,NaN,NaN,NaN,NaN,63071.0,NaN
54,Santa Clarita,59556,62160,NaN,NaN,NaN,NaN,64116.0,NaN
55,Santa Monica,54900,55998,NaN,NaN,NaN,NaN,58259.0,NaN
56,Sequoias,60840,64795,NaN,NaN,NaN,NaN,68735.0,NaN
57,Shasta-Tehama-Trinity Joint,53710,53710,NaN,NaN,NaN,NaN,55590.0,NaN
58,Sierra Joint,53206,53206,NaN,NaN,NaN,NaN,55334.0,NaN
59,Siskiyou Joint,52865,52865,NaN,NaN,NaN,NaN,54451.0,NaN
60,Solano County,49966,53699,NaN,NaN,NaN,NaN,55109.0,NaN
61,Sonoma County,68869,66407,NaN,NaN,NaN,NaN,73372.0,NaN
62,South Orange County,71768,73714,NaN,NaN,NaN,NaN,78028.0,NaN
63,Southwestern,55178,57670,NaN,NaN,NaN,NaN,60127.0,NaN
64,State Center,59477,59477,NaN,NaN,NaN,NaN,61720.0,NaN
65,Ventura County,48751,48751,NaN,NaN,NaN,NaN,52711.0,NaN
66,Victor Valley,52383,53955,NaN,NaN,NaN,NaN,55714.0,NaN
67,West Hills,59064,60665,NaN,NaN,NaN,NaN,60665.0,NaN
68,West Kern,54682,56163,NaN,NaN,NaN,NaN,59340.0,NaN
69,West Valley-Mission,63860,67053,NaN,NaN,NaN,NaN,73926.0,NaN
70,Yosemite,55384,61125,NaN,NaN,NaN,NaN,61366.0,NaN
71,Yuba,54727,56772,NaN,NaN,NaN,NaN,58623.0,NaN

In [130]:
df17['Name'] = df17['Name'].str.strip()
df18['Name'] = df18['Name'].str.strip()
df19['Name'] = df19['Name'].str.strip()
df20['Name'] = df20['Name'].str.strip()
df21['Name'] = df21['Name'].str.strip()

In [131]:
merge17_18 = df17.merge(df18,
          left_on='Name',
          right_on='Name',
          how='left')

In [142]:
merge17_18

                           Name  Salary1  Salary2
0           Allan Hancock Joint    56628    58294
1               Antelope Valley    56126    56126
2                       Barstow    54324    57397
3                         Butte    54073    56777
4                      Cabrillo    56151    57499
5                      Cerritos    64818    67871
6            Chabot-Las Positas    62035    62035
7                       Chaffey    59581    66000
8                        Citrus    61547    63393
9                         Coast    57335    59463
10                      Compton    59503    59503
11                 Contra Costa    59616    59616
12              Copper Mountain    50307    52068
13                       Desert    64723    66477
14                    El Camino    66598    68403
15                Feather River    54041    55949
16              Foothill-DeAnza    60121    60121
17                      Gavilan    61170    62394
18                     Glendale    61868    64033
19           Grossmont-Cuyamaca    51279    52817
20                     Hartnell    55146    55973
21                     Imperial    52802    56873
22                         Kern    71210    73767
23                   Lake Tahoe    54615    55079
24                       Lassen    56328    58757
25                   Long Beach    67275    68284
26                  Los Angeles    58550    60130
27                     Los Rios    49505    46660
28                        Marin    59064    65616
29               Mendocino-Lake    56513    56513
30                       Merced    50868    55018
31                   Mira Costa    73482    76826
32           Monterey Peninsula    54118    54659
33              Mt. San Antonio    65837    67622
34              Mt. San Jacinto    53936    56094
35                  Napa Valley    52131    52131
36          North Orange County    67137    67137
37                       Ohlone    66970    68786
38                   Palo Verde    54661    57018
39                      Palomar    62005    63686
40                Pasadena Area    68804    72082
41                      Peralta    41263    40793
42              Rancho Santiago    59559    62839
43                     Redwoods    50266    51271
44                    Rio Hondo    57679    59242
45                    Riverside    61182    64097
46               San Bernardino    52447    57964
47                    San Diego    57549    57836
48                San Francisco    58499    61200
49            San Joaquin Delta    57017    57017
50           San Jose/Evergreen    67236    73052
51       San Luis Obispo County    52056    55016
52             San Mateo County    68568    71328
53                Santa Barbara    58944    63071
54                Santa Clarita    59556    62160
55                 Santa Monica    54900    55998
56                     Sequoias    60840    64795
57  Shasta-Tehama-Trinity Joint    53710    53710
58                 Sierra Joint    53206    53206
59               Siskiyou Joint    52865    52865
60                Solano County    49966    53699
61                Sonoma County    68869    66407
62          South Orange County    71768    73714
63                 Southwestern    55178    57670
64                 State Center    59477    59477
65               Ventura County    48751    48751
66                Victor Valley    52383    53955
67                   West Hills    59064    60665
68                    West Kern    54682    56163
69          West Valley-Mission    63860    67053
70                     Yosemite    55384    61125
71                         Yuba    54727    56772

In [155]:
merge17_18_19 = merge17_18.merge(df19,
          left_on='Name',
          right_on='Name',
          how='left')

In [156]:
merge17_18_19_20 = merge17_18_19.merge(df20,
          left_on='Name',
          right_on='Name',
          how='left')

In [157]:
merge17_18_19_20

                           Name  Salary1  Salary2  Salary3  Salary4
0           Allan Hancock Joint    56628    58294    59460    60411
1               Antelope Valley    56126    56126    58394    59562
2                       Barstow    54324    57397    59268    59268
3                         Butte    54073    56777    58628    58628
4                      Cabrillo    56151    57499    59000    59000
5                      Cerritos    64818    67871    70084    70084
6            Chabot-Las Positas    62035    62035    65137    66440
7                       Chaffey    59581    66000    68700    68700
8                        Citrus    61547    63393    64661    64661
9                         Coast    57335    59463    61997    61997
10                      Compton    59503    59503    59503    60431
11                 Contra Costa    59616    59616    63192    65088
12              Copper Mountain    50307    52068    52068    52068
13                       Desert    64723    66477    68644    68644
14                    El Camino    66598    68403    68403    68403
15                Feather River    54041    55949    58490    58490
16              Foothill-DeAnza    60121    60121    63728    63728
17                      Gavilan    61170    62394    64109    64109
18                     Glendale    61868    64033    65634    65634
19           Grossmont-Cuyamaca    51279    52817    54402   161852
20                     Hartnell    55146    55973    58772    59947
21                     Imperial    52802    56873    58727    59902
22                         Kern    71210    73767    77278    77278
23                   Lake Tahoe    54615    55079    54058    54869
24                       Lassen    56328    58757    60672    60672
25                   Long Beach    67275    68284    69547    71467
26                  Los Angeles    58550    60130    62090    62090
27                     Los Rios    49505    46660    50262    51229
28                        Marin    59064    65616    65616    67800
29               Mendocino-Lake    56513    56513    59056    60237
30                       Merced    50868    55018    55018    55018
31                   Mira Costa    73482    76826    76826    78555
32           Monterey Peninsula    54118    54659    56299    56299
33              Mt. San Antonio    65837    67622    67622    69827
34              Mt. San Jacinto    53936    56094    57776    57776
35                  Napa Valley    52131    52131    53174    53174
36          North Orange County    67137    67137    67137    70830
37                       Ohlone    66970    68786    68786    71046
38                   Palo Verde    54661    57018    59618    60393
39                      Palomar    62005    63686    65762    65762
40                Pasadena Area    68804    72082    74245    74245
41                      Peralta    41263    40793    42122    42122
42              Rancho Santiago    59559    62839    65353    67967
43                     Redwoods    50266    51271    51271    51271
44                    Rio Hondo    57679    59242    61766    62384
45                    Riverside    61182    64097    68860    68860
46               San Bernardino    52447    57964    68843    68843
47                    San Diego    57549    57836    58838    58838
48                San Francisco    58499    61200    63700    65900
49            San Joaquin Delta    57017    57017    59013    60783
50           San Jose/Evergreen    67236    73052    74878    74878
51       San Luis Obispo County    52056    55016    57057    57057
52             San Mateo County    68568    71328    71328    77964
53                Santa Barbara    58944    63071    63071    63071
54                Santa Clarita    59556    62160    64116    64116
55                 Santa Monica    54900    55998    55998    58259
56                     Sequoias    60840    64795    67387    68735
57  Shasta-Tehama-Trinity Joint    53710    53710    55590    55590
58                 Sierra Joint    53206    53206    55334    55334
59               Siskiyou Joint    52865    52865    52865    54451
60                Solano County    49966    53699    53699    55109
61                Sonoma County    68869    66407    72924    73372
62          South Orange County    71768    73714    75814    78028
63                 Southwestern    55178    57670    60127    60127
64                 State Center    59477    59477    61261    61720
65               Ventura County    48751    48751    52711    52711
66                Victor Valley    52383    53955    55714    55714
67                   West Hills    59064    60665    60665    60665
68                    West Kern    54682    56163    57994    59340
69          West Valley-Mission    63860    67053    70406    73926
70                     Yosemite    55384    61125    61125    61366
71                         Yuba    54727    56772    56772    58623

In [158]:
merge17_18_19_20_21 = merge17_18_19_20.merge(df21,
          left_on='Name',
          right_on='Name',
          how='left')

In [159]:
df21['Name'] = df21['Name'].str.strip()

In [160]:
merge17_18_19_20_21 = merge17_18_19_20.merge(df21,
          left_on='Name',
          right_on='Name',
          how='left')

In [161]:
df21

                           Name  Salary5
0           Allan Hancock Joint    61619
1               Antelope Valley    59562
2                       Barstow    59268
3                   Butte-Glenn    63566
4                      Cabrillo    62138
5                      Cerritos    70084
6            Chabot-Las Positas    67769
7                       Chaffey    71496
8                        Citrus    65954
9                         Coast    65141
10                      Compton    62880
11                 Contra Costa    65088
12              Copper Mountain    53239
13                       Desert    72125
14                    El Camino    73328
15                Feather River    62377
16             Foothill-De Anza    63728
17                Gavilan Joint    64109
18                     Glendale    68916
19           Grossmont-Cuyamaca   163119
20                     Hartnell    60546
21                     Imperial    65892
22                         Kern    79596
23                   Lake Tahoe    55966
24                       Lassen    63748
25                   Long Beach    72539
26                  Los Angeles    65250
27                     Los Rios    53162
28                        Marin    72168
29               Mendocino-Lake    61442
30                       Merced    55018
31                    MiraCosta    80912
32           Monterey Peninsula    61792
33              Mt. San Antonio    71441
34              Mt. San Jacinto    60088
35                  Napa Valley    54769
36          North Orange County    76421
37                       Ohlone    74649
38                   Palo Verde    64240
39                      Palomar    69096
40                Pasadena Area    78009
41                      Peralta    44229
42              Rancho Santiago    70685
43                     Redwoods    56817
44                    Rio Hondo    66171
45                    Riverside    72351
46               San Bernardino    68843
47                    San Diego    60329
48                San Francisco    65900
49            San Joaquin Delta    63372
50           San Jose/Evergreen    81767
51       San Luis Obispo County    59665
52             San Mateo County    78372
53                Santa Barbara    63071
54                Santa Clarita    67368
55                 Santa Monica    59133
56                     Sequoias    71484
57  Shasta-Tehama-Trinity Joint    59203
58                 Sierra Joint    56994
59               Siskiyou Joint    55268
60                       Solano    57904
61                Sonoma County    78113
62          South Orange County    78612
63                 Southwestern    63776
64                 State Center    64849
65               Ventura County    53766
66                Victor Valley    55714
67                   West Hills    62203
68                    West Kern    61162
69          West Valley-Mission    77622
70                     Yosemite    62910
71                         Yuba    61595

In [162]:
merge17_18_19_20_21

                           Name  Salary1  Salary2  Salary3  Salary4   Salary5
0           Allan Hancock Joint    56628    58294    59460    60411   61619.0
1               Antelope Valley    56126    56126    58394    59562   59562.0
2                       Barstow    54324    57397    59268    59268   59268.0
3                         Butte    54073    56777    58628    58628       NaN
4                      Cabrillo    56151    57499    59000    59000   62138.0
5                      Cerritos    64818    67871    70084    70084   70084.0
6            Chabot-Las Positas    62035    62035    65137    66440   67769.0
7                       Chaffey    59581    66000    68700    68700   71496.0
8                        Citrus    61547    63393    64661    64661   65954.0
9                         Coast    57335    59463    61997    61997   65141.0
10                      Compton    59503    59503    59503    60431   62880.0
11                 Contra Costa    59616    59616    63192    65088   65088.0
12              Copper Mountain    50307    52068    52068    52068   53239.0
13                       Desert    64723    66477    68644    68644   72125.0
14                    El Camino    66598    68403    68403    68403   73328.0
15                Feather River    54041    55949    58490    58490   62377.0
16              Foothill-DeAnza    60121    60121    63728    63728       NaN
17                      Gavilan    61170    62394    64109    64109       NaN
18                     Glendale    61868    64033    65634    65634   68916.0
19           Grossmont-Cuyamaca    51279    52817    54402   161852  163119.0
20                     Hartnell    55146    55973    58772    59947   60546.0
21                     Imperial    52802    56873    58727    59902   65892.0
22                         Kern    71210    73767    77278    77278   79596.0
23                   Lake Tahoe    54615    55079    54058    54869   55966.0
24                       Lassen    56328    58757    60672    60672   63748.0
25                   Long Beach    67275    68284    69547    71467   72539.0
26                  Los Angeles    58550    60130    62090    62090   65250.0
27                     Los Rios    49505    46660    50262    51229   53162.0
28                        Marin    59064    65616    65616    67800   72168.0
29               Mendocino-Lake    56513    56513    59056    60237   61442.0
30                       Merced    50868    55018    55018    55018   55018.0
31                   Mira Costa    73482    76826    76826    78555       NaN
32           Monterey Peninsula    54118    54659    56299    56299   61792.0
33              Mt. San Antonio    65837    67622    67622    69827   71441.0
34              Mt. San Jacinto    53936    56094    57776    57776   60088.0
35                  Napa Valley    52131    52131    53174    53174   54769.0
36          North Orange County    67137    67137    67137    70830   76421.0
37                       Ohlone    66970    68786    68786    71046   74649.0
38                   Palo Verde    54661    57018    59618    60393   64240.0
39                      Palomar    62005    63686    65762    65762   69096.0
40                Pasadena Area    68804    72082    74245    74245   78009.0
41                      Peralta    41263    40793    42122    42122   44229.0
42              Rancho Santiago    59559    62839    65353    67967   70685.0
43                     Redwoods    50266    51271    51271    51271   56817.0
44                    Rio Hondo    57679    59242    61766    62384   66171.0
45                    Riverside    61182    64097    68860    68860   72351.0
46               San Bernardino    52447    57964    68843    68843   68843.0
47                    San Diego    57549    57836    58838    58838   60329.0
48                San Francisco    58499    61200    63700    65900   65900.0
49            San Joaquin Delta    57017    57017    59013    60783   63372.0
50           San Jose/Evergreen    67236    73052    74878    74878   81767.0
51       San Luis Obispo County    52056    55016    57057    57057   59665.0
52             San Mateo County    68568    71328    71328    77964   78372.0
53                Santa Barbara    58944    63071    63071    63071   63071.0
54                Santa Clarita    59556    62160    64116    64116   67368.0
55                 Santa Monica    54900    55998    55998    58259   59133.0
56                     Sequoias    60840    64795    67387    68735   71484.0
57  Shasta-Tehama-Trinity Joint    53710    53710    55590    55590   59203.0
58                 Sierra Joint    53206    53206    55334    55334   56994.0
59               Siskiyou Joint    52865    52865    52865    54451   55268.0
60                Solano County    49966    53699    53699    55109       NaN
61                Sonoma County    68869    66407    72924    73372   78113.0
62          South Orange County    71768    73714    75814    78028   78612.0
63                 Southwestern    55178    57670    60127    60127   63776.0
64                 State Center    59477    59477    61261    61720   64849.0
65               Ventura County    48751    48751    52711    52711   53766.0
66                Victor Valley    52383    53955    55714    55714   55714.0
67                   West Hills    59064    60665    60665    60665   62203.0
68                    West Kern    54682    56163    57994    59340   61162.0
69          West Valley-Mission    63860    67053    70406    73926   77622.0
70                     Yosemite    55384    61125    61125    61366   62910.0
71                         Yuba    54727    56772    56772    58623   61595.0

In [163]:
df17.head()

                  Name  Salary1
0  Allan Hancock Joint    56628
1      Antelope Valley    56126
2              Barstow    54324
3                Butte    54073
4             Cabrillo    56151

In [164]:
df18.head()

                  Name  Salary2
0  Allan Hancock Joint    58294
1      Antelope Valley    56126
2              Barstow    57397
3                Butte    56777
4             Cabrillo    57499

In [165]:
df19.head()

                  Name  Salary3
0  Allan Hancock Joint    59460
1      Antelope Valley    58394
2              Barstow    59268
3                Butte    58628
4             Cabrillo    59000

In [166]:
df20.head()

                  Name  Salary4
0  Allan Hancock Joint    60411
1      Antelope Valley    59562
2              Barstow    59268
3                Butte    58628
4             Cabrillo    59000

In [167]:
df21.head()

                  Name  Salary5
0  Allan Hancock Joint    61619
1      Antelope Valley    59562
2              Barstow    59268
3          Butte-Glenn    63566
4             Cabrillo    62138

In [172]:
merge17_18_19_20_21['Salary5']

0      61619.0
1      59562.0
2      59268.0
3          NaN
4      62138.0
5      70084.0
6      67769.0
7      71496.0
8      65954.0
9      65141.0
10     62880.0
11     65088.0
12     53239.0
13     72125.0
14     73328.0
15     62377.0
16         NaN
17         NaN
18     68916.0
19    163119.0
20     60546.0
21     65892.0
22     79596.0
23     55966.0
24     63748.0
25     72539.0
26     65250.0
27     53162.0
28     72168.0
29     61442.0
30     55018.0
31         NaN
32     61792.0
33     71441.0
34     60088.0
35     54769.0
36     76421.0
37     74649.0
38     64240.0
39     69096.0
40     78009.0
41     44229.0
42     70685.0
43     56817.0
44     66171.0
45     72351.0
46     68843.0
47     60329.0
48     65900.0
49     63372.0
50     81767.0
51     59665.0
52     78372.0
53     63071.0
54     67368.0
55     59133.0
56     71484.0
57     59203.0
58     56994.0
59     55268.0
60         NaN
61     78113.0
62     78612.0
63     63776.0
64     64849.0
65     53766.0
66     55714.0
67     62203.0
68     61162.0
69     77622.0
70     62910.0
71     61595.0
Name: Salary5, dtype: float64

In [173]:
df21values = []
for value in df21['Salary5']:
    df21values.append(value)

In [180]:
merge4 = merge17_18_19_20_21.drop(['Salary5'], axis=1)

In [181]:
merge4['Salary5'] = df21values

In [182]:
merge4

                           Name  Salary1  Salary2  Salary3  Salary4  Salary5
0           Allan Hancock Joint    56628    58294    59460    60411    61619
1               Antelope Valley    56126    56126    58394    59562    59562
2                       Barstow    54324    57397    59268    59268    59268
3                         Butte    54073    56777    58628    58628    63566
4                      Cabrillo    56151    57499    59000    59000    62138
5                      Cerritos    64818    67871    70084    70084    70084
6            Chabot-Las Positas    62035    62035    65137    66440    67769
7                       Chaffey    59581    66000    68700    68700    71496
8                        Citrus    61547    63393    64661    64661    65954
9                         Coast    57335    59463    61997    61997    65141
10                      Compton    59503    59503    59503    60431    62880
11                 Contra Costa    59616    59616    63192    65088    65088
12              Copper Mountain    50307    52068    52068    52068    53239
13                       Desert    64723    66477    68644    68644    72125
14                    El Camino    66598    68403    68403    68403    73328
15                Feather River    54041    55949    58490    58490    62377
16              Foothill-DeAnza    60121    60121    63728    63728    63728
17                      Gavilan    61170    62394    64109    64109    64109
18                     Glendale    61868    64033    65634    65634    68916
19           Grossmont-Cuyamaca    51279    52817    54402   161852   163119
20                     Hartnell    55146    55973    58772    59947    60546
21                     Imperial    52802    56873    58727    59902    65892
22                         Kern    71210    73767    77278    77278    79596
23                   Lake Tahoe    54615    55079    54058    54869    55966
24                       Lassen    56328    58757    60672    60672    63748
25                   Long Beach    67275    68284    69547    71467    72539
26                  Los Angeles    58550    60130    62090    62090    65250
27                     Los Rios    49505    46660    50262    51229    53162
28                        Marin    59064    65616    65616    67800    72168
29               Mendocino-Lake    56513    56513    59056    60237    61442
30                       Merced    50868    55018    55018    55018    55018
31                   Mira Costa    73482    76826    76826    78555    80912
32           Monterey Peninsula    54118    54659    56299    56299    61792
33              Mt. San Antonio    65837    67622    67622    69827    71441
34              Mt. San Jacinto    53936    56094    57776    57776    60088
35                  Napa Valley    52131    52131    53174    53174    54769
36          North Orange County    67137    67137    67137    70830    76421
37                       Ohlone    66970    68786    68786    71046    74649
38                   Palo Verde    54661    57018    59618    60393    64240
39                      Palomar    62005    63686    65762    65762    69096
40                Pasadena Area    68804    72082    74245    74245    78009
41                      Peralta    41263    40793    42122    42122    44229
42              Rancho Santiago    59559    62839    65353    67967    70685
43                     Redwoods    50266    51271    51271    51271    56817
44                    Rio Hondo    57679    59242    61766    62384    66171
45                    Riverside    61182    64097    68860    68860    72351
46               San Bernardino    52447    57964    68843    68843    68843
47                    San Diego    57549    57836    58838    58838    60329
48                San Francisco    58499    61200    63700    65900    65900
49            San Joaquin Delta    57017    57017    59013    60783    63372
50           San Jose/Evergreen    67236    73052    74878    74878    81767
51       San Luis Obispo County    52056    55016    57057    57057    59665
52             San Mateo County    68568    71328    71328    77964    78372
53                Santa Barbara    58944    63071    63071    63071    63071
54                Santa Clarita    59556    62160    64116    64116    67368
55                 Santa Monica    54900    55998    55998    58259    59133
56                     Sequoias    60840    64795    67387    68735    71484
57  Shasta-Tehama-Trinity Joint    53710    53710    55590    55590    59203
58                 Sierra Joint    53206    53206    55334    55334    56994
59               Siskiyou Joint    52865    52865    52865    54451    55268
60                Solano County    49966    53699    53699    55109    57904
61                Sonoma County    68869    66407    72924    73372    78113
62          South Orange County    71768    73714    75814    78028    78612
63                 Southwestern    55178    57670    60127    60127    63776
64                 State Center    59477    59477    61261    61720    64849
65               Ventura County    48751    48751    52711    52711    53766
66                Victor Valley    52383    53955    55714    55714    55714
67                   West Hills    59064    60665    60665    60665    62203
68                    West Kern    54682    56163    57994    59340    61162
69          West Valley-Mission    63860    67053    70406    73926    77622
70                     Yosemite    55384    61125    61125    61366    62910
71                         Yuba    54727    56772    56772    58623    61595